{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://maps.googleapis.com/maps/api/geocode/json?address=10004&key=---GEOCODE_API_KEY---&language=en&sensor=false",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"10004\",\n               \"short_name\" : \"10004\",\n               \"types\" : [ \"postal_code\" ]\n            },\n            {\n               \"long_name\" : \"Manhattan\",\n               \"short_name\" : \"Manhattan\",\n               \"types\" : [ \"political\", \"sublocality\", \"sublocality_level_1\" ]\n            },\n            {\n               \"long_name\" : \"New York\",\n               \"short_name\" : \"New York\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"New York County\",\n               \"short_name\" : \"New York County\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"New York\",\n               \"short_name\" : \"NY\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"New York, NY 10004, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 40.70684,\n                  \"lng\" : -74.0060658\n               },\n               \"southwest\" : {\n                  \"lat\" : 40.6885304,\n                  \"lng\" : -74.04723799999999\n               }\n            },\n            \"location\" : {\n               \"lat\" : 40.7038704,\n               \"lng\" : -74.0138541\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 40.70684,\n                  \"lng\" : -74.0060658\n               },\n               \"southwest\" : {\n                  \"lat\" : 40.6993429,\n                  \"lng\" : -74.01805399999999\n               }\n            }\n         },\n         \"place_id\" : \"ChIJBxh0HZBQwokRQHMru52e-ng\",\n         \"postcode_localities\" : [ \"BOWLING GREEN\", \"New York\" ],\n         \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
        },
      },
      "recorded_at": "Sun, 01 Mar 2015 05:00:02 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://maps.googleapis.com/maps/api/geocode/json?key=---GEOCODE_API_KEY---&language=en&latlng=40.7038704,-74.0138541&sensor=false",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/j[...]
[...]
