{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20000101/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.484"], "Last-Modified":["Sat, 23 Jan 2016 20:30:35 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"January 1, 2000\",\n\t\t\"year\": \"2000\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"January 1, 2000\",\n\t\t\"year\": \"2000\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"17\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:51 AM EST on January 01, 2000\",\n\t\t\"year\": \"2000\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:51 AM GMT on January 01, 2000\",\n\t\t\"year\": \"2000\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"3.3\", \"tempi\":\"37.9\",\"dewptm\":\"2.8\", \"dewpti\":\"37.0\",\"hum\":\"97\",\"wspdm\":\"11.1\", \"wspdi\":\"6.9\",\"wgustm\":\"-9999.0\", \"wgusti\":\"-9999.0\",\"wdird\":\"240\",\"wdire\":\"WSW\",\"vism\":\"9.7\", \"visi\":\"6.0\",\"pressurem\":\"1022.4\", \"pressurei\":\"30.19\",\"windchillm\":\"0.4\", \"windchilli\":\"32.7\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"-9999.00\", \"precipi\":\"-9999.00\",\"conds\":\"Clear\",\"icon\":\"clear\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR KLGA 010551Z 24006KT 6SM BR CLR 03/03 A3019 RMK AO2 SLP224 T00330028 10033 20028 50008\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"1:51 AM EST on January 01, 2000\",\n\t\t\"year\": \"2000\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"01\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"6:51 AM GMT on January 01, 2000\",\n\t\t\"year\": \"2000\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"[...]
