{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20160122/q/10001.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.060"], "Last-Modified":["Fri, 22 Jan 2016 05:08:58 GMT"], "Cneonction":["close"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"December 31, 1969\",\n\t\t\"year\": \"1969\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"18\",\n\t\t\"min\": \"59\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"December 31, 1969\",\n\t\t\"year\": \"1969\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"23\",\n\t\t\"min\": \"59\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t],\n\t\t\"dailysummary\": [\n\t\t{ \"date\": {\n\t\t\"pretty\": \"6:59 PM EST on December 31, 1969\",\n\t\t\"year\": \"1969\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"18\",\n\t\t\"min\": \"59\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"snowfallm\":\"\", \"snowfalli\":\"\",\"monthtodatesnowfallm\":\"\", \"monthtodatesnowfalli\":\"\",\"since1julsnowfallm\":\"\", \"since1julsnowfalli\":\"\",\"snowdepthm\":\"\", \"snowdepthi\":\"\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"meantempm\":\"\", \"meantempi\":\"\",\"meandewptm\":\"\", \"meandewpti\":\"\",\"meanpressurem\":\"\", \"meanpressurei\":\"\",\"meanwindspdm\":\"\", \"meanwindspdi\":\"\",\"meanwdire\":\"Variable\",\"meanwdird\":\"-1\",\"meanvism\":\"\", \"meanvisi\":\"\",\"humidity\":\"\",\"maxtempm\":\"\", \"maxtempi\":\"\",\"mintempm\":\"\", \"mintempi\":\"\",\"maxhumidity\":\"\",\"minhumidity\":\"\",\"maxdewptm\":\"\", \"maxdewpti\":\"\",\"mindewptm\":\"\", \"mindewpti\":\"\",\"maxpressurem\":\"\", \"maxpressurei\":\"\",\"minpressurem\":\"\", \"minpressurei\":\"\",\"maxwspdm\":\"\", \"maxwspdi\":\"\",\"minwspdm\":\"\", \"minwspdi\":\"\",\"maxvism\":\"\", \"maxvisi\":\"\",\"minvism\":\"\", \"minvisi\":\"\",\"gdegreedays\":\"\",\"heatingdegreedays\":\"\",\"coolingdegreedays\":\"\",\"precipm\":\"0.0\", \"precipi\":\"0.00\",\"precipsource\":\"3Or6HourObs\",\"heatingdegreedaysnormal\":\"\",\"monthtodateheatingdegreedays\":\"\",\"monthtodateheatingdegreedaysnormal\":\"\",\"since1sepheatingdegreedays\":\"\",\"since1sepheatingdegreedaysnormal\":\"\",\"since1julheatingdegreedays\":\"\",\"since1julheatingdegreedaysnormal\":\"\",\"coolingdegreedaysnormal\":\"\",\"monthtodatecoolingdegreedays\":\"\",\"monthtodatecoolingdegreedaysnormal\":\"\",\"since1sepcoolingdegreedays\":\"\",\"since1sepcoolingdegreedaysnormal\":\"\",\"since1jancoolingdegreedays\":\"\",\"since1jancoolingdegreedaysnormal\":\"\" }\n\t\t]\n\t}\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 05:00:04 GMT"}],"recorded_with":"VCR 2.9.3"}