<div class="advocate-layout clearfix">
  <div class="container">
    <div class="col-xs-12 container" id="permissions-show-div">
      <div>
        <h1 id="collaborator-h1" class="text-center">
          Units in <%= @building.address_and_name %>
        </h1>
      </div>

      <a class="btn" href="<%= new_admin_building_unit_path(@building) %>">
        Create New Unit
      </a>

      <ul id="collaborator-ul">
        <% @units.each do |unit| %>
          <div>
            <li class="sidebar-li">
              <div class="collaborator-link-div">
                <%= link_to(unit.name.upcase,
                            edit_admin_building_unit_path(@building, unit),
                            method: :get,
                            class: "user-link") %>
                <p><%= unit.description %></p>
              </div>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
