{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/conditions/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.056"], "Last-Modified":["Sat, 30 Jan 2016 00:36:30 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"conditions\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"New York\",\n\t\t\"neighborhood\":\"Greenwich Village\",\n\t\t\"city\": \"New York\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10004\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"dix\",\n\t\t\"latitude\":40.73448181,\n\t\t\"longitude\":-73.99752045,\n\t\t\"elevation\":62,\n\t\t\"l\": \"/q/zmw:10004.1.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454114190,\n\t\"pretty\": \"7:36 PM EST on January 29, 2016\",\n\t\"rfc822\": \"Fri, 29 Jan 2016 19:36:30 -0500\",\n\t\"iso8601\": \"2016-01-29T19:36:30-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 29,\n\t\"yday\": 28,\n\t\"hour\": 19,\n\t\"min\": \"36\",\n\t\"sec\": 30,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\t\"current_observation\": {\n\t\t\"source\": \"PWS\",\n\t\t\"station\": {\n\t\t\"id\":\"KNYNEWYO366\",\n\t\t\"name\":\"West Village (NYU Silver Tower)\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":40.726746,\n\t\t\"longitude\":-73.998589,\n\t\t\"elevation\":33\n\t\t},\n\t\t\"estimated\": null,\n\t\t\"date\": {\n\t\"epoch\": 1454113600,\n\t\"pretty\": \"7:26 PM EST on January 29, 2016\",\n\t\"rfc822\": \"Fri, 29 Jan 2016 19:26:40 -0500\",\n\t\"iso8601\": \"2016-01-29T19:26:40-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 29,\n\t\"yday\": 28,\n\t\"hour\": 19,\n\t\"min\": \"26\",\n\t\"sec\": 40,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"metar\": \"METAR KJRB 300035Z 30003KT 10SM CLR 03/M06 A2970 RMK AO1\",\n\t\t\"condition\":\"Clear\",\n\t\t\"temperature\": 36.1,\n\t\t\"humidity\":55,\n\t\t\"wind_speed\":10.9,\n\t\t\"wind_gust_speed\":null,\n\t\t\"wind_dir\":\"SW\",\n\t\t\"wind_dir_degrees\":225,\n\t\t\"wind_dir_variable\":0,\n\t\t\"pressure\": 29.70,\n\t\t\"pressure_trend\": \"+\",\n\t\t\"pressure_tendency\": 0.010000,\n\t\t\"pressure_tendency_string\": \"Increasing\",\n\t\t\"dewpoint\": 22,\n\t\t\"heatindex\": null,\n\t\t\"windchill\": 28,\n\t\t\"feelslike\": 28,\n\t\t\"visibility\":10.0,\n\t\t\"cloud_description\": {\n\t\t\"highest_layer\": \"CLR\",\n\t\t\"oktas\": 0,\n\t\t\"layers\": [\n\t\t{\n\t\t\"height\": null,\n\t\t\"height_char\": null,\n\t\t\"cover\": \"CLR\",\n\t\t\"cover_text\": \"Clear\",\n\t\t\"oktas\": \"0\",\n\t\t\"other\": null\n\t\t}\n\t\t]\n\t\t},\n\t\t\"solarradiation\": null,\n\t\t\"uv_index\": 0,\n\t\t\"temperature_indoor\": null,\n\t\t\"humidity_indoor\": null,\n\t\t\"t1f\": null,\n\t\t\"t2f\": null,\n\t\t\"precip_1hr\":null,\n\t\t\"precip_today\":0.00,\n\t\t\"soil_temp\": null,\n\t\t\"soil_moisture\": null,\n\t\t\"leaf_wetness\": null,\n\t\t\"icon\":\"nt_clear\",\n\t\t\"icon_url\":\"//icons.wxug.com/i/c/v4/nt_clear.svg\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KNYNEWYO366\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.726746,-73.998589\",\n\t\t\"nowcast\":\"\",\n\t\t\"pollen\": null,\n\t\t\"flu\": null,\n\t\t\"ozone_index\": null,\n\t\t\"ozone_text\": null,\n\t\t\"pm_index\": null,\n\t\t\"pm_text\": null,\n\t\t\"yesterday_max_temperature\": 48.2,\n\t\t\"yesterday_min_temperature\": 32.2,\n\t\t\"yesterday_precip_total\": 0.0\n\t}\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 04:00:01 GMT"}],"recorded_with":"VCR 2.9.3"}