language: ruby
rvm:
  - 2.0.0

env:
  global:
  - secure: wMOkyOiC7B9wCoStmW7FvoMqAn7h8GXzt1WOOKQutLIVdoI0dvhrIRViT5ZICvgHIqUoIdRx42AUfXIxC4y+FOatJTmo2GCa4SsctqWLOjX9lQSn1wqaflIfgi5mYoYSKJzJ6KSxIdMQsWA6PLlhSlHLVyKJsINoIADcrxh1Hw0=
  - secure: il0FXkyOk8iPr5sk4SE/TVAapZZiZjiELkPrm4Z1T4FAqbUCKDILQHMAms6wbzt2qYNFx2SmDs/Z5odMg94ll/PlvsmZx/IBJC87hiPVjao6PBxzscNcBGK+sPtkmM0hcjpJLrpqZYLL4EtN8UMZN7Ck2yS1R5Xsg7VXrMia5+g=
  - secure: FT4wY8FQIXeWJQKqhZRe9rp2h2d1thrYxPW7HSiFlW679XZyUbR17v1tqKb/upfY3xivHrExIusaJu4XjB+WxNSFDiEZCZEYL59o6OuyBwVYjLvGB6tBXBfXIpVlhMItHmbgEVJ4lT4ngEHwegXLcx3ArXJAqWTC1WyeBv1yBss=
