{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20150311/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.340"], "Last-Modified":["Wed, 20 Jan 2016 20:58:20 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"March 11, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"11\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"March 11, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"11\",\n\t\t\"hour\": \"16\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:06 AM EDT on March 11, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"11\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"06\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"4:06 AM GMT on March 11, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"11\",\n\t\t\"hour\": \"04\",\n\t\t\"min\": \"06\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"7.2\", \"tempi\":\"45.0\",\"dewptm\":\"5.6\", \"dewpti\":\"42.1\",\"hum\":\"90\",\"wspdm\":\"0.0\", \"wspdi\":\"0.0\",\"wgustm\":\"-9999.0\", \"wgusti\":\"-9999.0\",\"wdird\":\"0\",\"wdire\":\"North\",\"vism\":\"3.2\", \"visi\":\"2.0\",\"pressurem\":\"1015.8\", \"pressurei\":\"30.00\",\"windchillm\":\"-999\", \"windchilli\":\"-999\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"0.5\", \"precipi\":\"0.02\",\"conds\":\"Light Rain\",\"icon\":\"rain\",\"fog\":\"0\",\"rain\":\"1\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"SPECI KNYC 110406Z AUTO 00000KT 2SM -RA BR OVC006 07/06 A3000 RMK AO2 P0002 T00720056 $\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:51 AM EDT on March 11, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"11\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"4:51 AM GMT on March 11, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"03\",\n\t\t\"mday\": \"11\",\n\t\t\"hour\": \"04\",\n\[...]
