{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20150801/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.788"], "Last-Modified":["Thu, 21 Jan 2016 04:20:06 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"August 1, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"08\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"August 1, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"08\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"16\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:15 AM EDT on August 01, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"08\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"15\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"4:15 AM GMT on August 01, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"08\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"04\",\n\t\t\"min\": \"15\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"27.0\", \"tempi\":\"80.6\",\"dewptm\":\"16.0\", \"dewpti\":\"60.8\",\"hum\":\"51\",\"wspdm\":\"9.3\", \"wspdi\":\"5.8\",\"wgustm\":\"-9999.0\", \"wgusti\":\"-9999.0\",\"wdird\":\"270\",\"wdire\":\"West\",\"vism\":\"16.1\", \"visi\":\"10.0\",\"pressurem\":\"1010.4\", \"pressurei\":\"29.84\",\"windchillm\":\"-999\", \"windchilli\":\"-999\",\"heatindexm\":\"27.5\", \"heatindexi\":\"81.5\",\"precipm\":\"-9999.00\", \"precipi\":\"-9999.00\",\"conds\":\"Clear\",\"icon\":\"clear\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR KJRB 010415Z AUTO 27005KT 10SM CLR 27/16 A2984 RMK AO1\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:35 AM EDT on August 01, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"08\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"35\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"4:35 AM GMT on August 01, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"08\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"04\",\n\t\t\"min\": \"35\",\n\t\t[...]
