{"http_interactions":[{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=99999-1234&key=---GEOCODE_API_KEY---&language=en&sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\n   \"results\" : [],\n   \"status\" : \"ZERO_RESULTS\"\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 05:00:02 GMT"}],"recorded_with":"VCR 2.9.3"}
