{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/conditions/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.053"], "Last-Modified":["Wed, 24 Dec 2014 16:55:20 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\": {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\": {\n\t\t\"full\":\"New York, NY\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"10004\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"40.73448181\",\n\t\t\"longitude\":\"-73.99752045\",\n\t\t\"elevation\":\"19.00000000\"\n\t\t},\n\t\t\"observation_location\": {\n\t\t\"full\":\"Central Park, New York\",\n\t\t\"city\":\"Central Park\",\n\t\t\"state\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"40.77899933\",\n\t\t\"longitude\":\"-73.96924591\",\n\t\t\"elevation\":\"154 ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KNYC\",\n\t\t\"observation_time\":\"Last Updated on December 24, 11:51 AM EST\",\n\t\t\"observation_time_rfc822\":\"Wed, 24 Dec 2014 11:51:00 -0500\",\n\t\t\"observation_epoch\":\"1419439860\",\n\t\t\"local_time_rfc822\":\"Wed, 24 Dec 2014 11:55:20 -0500\",\n\t\t\"local_epoch\":\"1419440120\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Rain\",\n\t\t\"temperature_string\":\"44 F (7 C)\",\n\t\t\"temp_f\":44,\n\t\t\"temp_c\":7,\n\t\t\"relative_humidity\":\"96%\",\n\t\t\"wind_string\":\"From the ENE at 9 MPH\",\n\t\t\"wind_dir\":\"ENE\",\n\t\t\"wind_degrees\":70,\n\t\t\"wind_mph\":9,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":15,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1011\",\n\t\t\"pressure_in\":\"29.86\",\n\t\t\"pressure_trend\":\"-\",\n\t\t\"dewpoint_string\":\"43 F (6 C)\",\n\t\t\"dewpoint_f\":43,\n\t\t\"dewpoint_c\":6,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"39 F (4 C)\",\n\t\t\"windchill_f\":\"39\",\n\t\t\"windchill_c\":\"4\",\n\t\t\"feelslike_string\":\"39 F (4 C)\",\n\t\t\"feelslike_f\":\"39\",\n\t\t\"feelslike_c\":\"4\",\n\t\t\"visibility_mi\":\"1.5\",\n\t\t\"visibility_km\":\"2.4\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"1\",\"precip_1hr_string\":\"0.22 in (5.6 mm)\",\n\t\t\"precip_1hr_in\":\"0.22\",\n\t\t\"precip_1hr_metric\":\"5.6\",\n\t\t\"precip_today_string\":\"0.47 in (11.9 mm)\",\n\t\t\"precip_today_in\":\"0.47\",\n\t\t\"precip_today_metric\":\"11.9\",\n\t\t\"icon\":\"rain\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/rain.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/history/airport/KNYC/2014/12/24/DailyHistory.html\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.77899933,-73.96924591\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"},"http_version":null},"recorded_at":"Wed, 24 Dec 2014 16:58:17 GMT"},{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20150220/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.184"], "Last-Modified":["Sun, 22 Feb 2015 00:33:25 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"17\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:51 AM EST on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:51 AM GMT on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"-14.4\", \"tempi\":\"6.1\",\"dewptm\":\"-26.1\", \"dewpti\":\"-15.0\",\"hum\":\"38\",\"wspdm\":\"20.4\", \"wspdi\":\"12.7\",\"wgustm\":\"38.9\", \"wgusti\":\"24.2\",\"wdird\":\"280\",\"wdire\":\"West\",\"vism\":\"16.1\", \"visi\":\"10.0\",\"pressurem\":\"1016.8\", \"pressurei\":\"30.03\",\"windchillm\":\"-23.5\", \"windchilli\":\"-10.2\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"-9999.00\", \"precipi\":\"-9999.00\",\"conds\":\"Clear\",\"icon\":\"clear\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR KNYC 200551Z AUTO 28011G21KT 10SM CLR M14/M26 A3004 RMK AO2 SLP168 T11441261 11100 21144 $\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"1:51 AM EST on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"01\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"6:51 AM GMT on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour[...]
[...]
