{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/conditions/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.049"], "Last-Modified":["Fri, 29 Jan 2016 04:33:11 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"conditions\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"Central Park\",\n\t\t\"neighborhood\":\"Central Park\",\n\t\t\"city\": \"Central Park\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10106\",\n\t\t\"magic\":\"4\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"okx\",\n\t\t\"latitude\":40.77000046,\n\t\t\"longitude\":-73.98000336,\n\t\t\"elevation\":89,\n\t\t\"l\": \"/q/zmw:10106.4.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454041991,\n\t\"pretty\": \"11:33 PM EST on January 28, 2016\",\n\t\"rfc822\": \"Thu, 28 Jan 2016 23:33:11 -0500\",\n\t\"iso8601\": \"2016-01-28T23:33:11-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 28,\n\t\"yday\": 27,\n\t\"hour\": 23,\n\t\"min\": \"33\",\n\t\"sec\": 11,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Thursday\",\n\t\"weekday_short\": \"Thu\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\t\"current_observation\": {\n\t\t\"source\": null,\n\t\t\"station\": {\n\t\t\"id\":null,\n\t\t\"name\":\"Central Park\",\n\t\t\"city\":null,\n\t\t\"state\":null,\n\t\t\"state_name\":\"New York\",\n\t\t\"country\":null,\n\t\t\"country_name\":\"USA\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":null,\n\t\t\"longitude\":null,\n\t\t\"elevation\":null\n\t\t},\n\t\t\"estimated\": {\n\t\t\"estimated\": 1,\n\t\t\"description\": \"These are estimated conditions. There are no weather stations nearby.\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": null,\n\t\"pretty\": null,\n\t\"rfc822\": null,\n\t\"iso8601\": null,\n\t\"year\": null,\n\t\"month\": null,\n\t\"day\": null,\n\t\"yday\": null,\n\t\"hour\": null,\n\t\"min\": null,\n\t\"sec\": null,\n\t\"monthname\": null,\n\t\"monthname_short\": null,\n\t\"weekday\": null,\n\t\"weekday_short\": null,\n\t\"ampm\": null,\n\t\"tz_short\": null,\n\t\"tz_long\": null,\n\t\"tz_offset_text\": null,\n\t\"tz_offset_hours\": null\n},\n\t\t\"metar\": null,\n\t\t\"condition\":\"Overcast\",\n\t\t\"temperature\": 35,\n\t\t\"humidity\":64,\n\t\t\"wind_speed\":2,\n\t\t\"wind_gust_speed\":null,\n\t\t\"wind_dir\":\"SW\",\n\t\t\"wind_dir_degrees\":228,\n\t\t\"wind_dir_variable\":null,\n\t\t\"pressure\": null,\n\t\t\"pressure_trend\": null,\n\t\t\"pressure_tendency\": null,\n\t\t\"pressure_tendency_string\": null,\n\t\t\"dewpoint\": 24,\n\t\t\"heatindex\": null,\n\t\t\"windchill\": null,\n\t\t\"feelslike\": 35,\n\t\t\"visibility\":null,\n\t\t\"cloud_description\": {\n\t\t\"highest_layer\": null,\n\t\t\"oktas\": null,\n\t\t\"layers\": null\n\t\t},\n\t\t\"solarradiation\": null,\n\t\t\"uv_index\": null,\n\t\t\"temperature_indoor\": null,\n\t\t\"humidity_indoor\": null,\n\t\t\"t1f\": null,\n\t\t\"t2f\": null,\n\t\t\"precip_1hr\":null,\n\t\t\"precip_today\":null,\n\t\t\"soil_temp\": null,\n\t\t\"soil_moisture\": null,\n\t\t\"leaf_wetness\": null,\n\t\t\"icon\":\"nt_cloudy\",\n\t\t\"icon_url\":\"//icons.wxug.com/i/c/v4/nt_cloudy.svg\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/Central_Park.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/history/airport/////DailyHistory.html\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=,\",\n\t\t\"nowcast\":\"\",\n\t\t\"pollen\": null,\n\t\t\"flu\": null,\n\t\t\"ozone_index\": null,\n\t\t\"ozone_text\": null,\n\t\t\"pm_index\": null,\n\t\t\"pm_text\": null,\n\t\t\"yesterday_max_temperature\": null,\n\t\t\"yesterday_min_temperature\": null,\n\t\t\"yesterday_precip_total\": null\n\t}\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 05:00:00 GMT"}],"recorded_with":"VCR 2.9.3"}