<div class="collaborators-sidebar">
  <div>
    <h1 id="collaborator-h1" class="text-center">My Tenant List</h1>
  </div>
  <ul id="collaborator-ul">
    <% @user.collaborations.each do |c| %>
      <div>
        <li class="sidebar-li">
          <div class="collaborator-link-div">
            <%= link_to "#{c.collaborator.first_name} #{c.collaborator.last_name}", user_collaboration_path(current_user, c), :class => "user-link" %>
            <p class="address_zip"><%= "#{c.collaborator.address}, #{c.collaborator.zip_code}" %></p>
          </div>
            
          <% if @user.admin_or_more_powerful? %>
            <%= link_to "", edit_user_path(c.collaborator_id), :class => "fa fa-wrench user-settings-link", :id => "wrench" %>
          <% end %>
          <%= link_to "", user_collaboration_path(current_user, c), method: :delete, :class => "fa fa-times remove-user-link", :id => "edit", data: { confirm: "Are you sure?", remote: true} %>
          <br>
        </li>
      </div>

    <% end %>
  </ul>
</div>
