<div class="col-xs-4 container">
  <a id="demo-logout-btn-link" data-method="delete" href="/users/sign_out" rel="nofollow">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="demo-logout-btn">Click Me To Logout!</button>
  </a>
</div>