<div class="graph" id="line">
  <%= line_chart(user.lines, min: user.range_min, max: user.range_max, :library => {
  legend: {position: 'bottom'},
  curveType: 'none'
  }) %>
  <br>
  <%= link_to 'Download PDF', pdf_download_path(user), class: "btn btn-primary" %>
</div>