<div class="col-xs-offset-5">
  <h1>Users</h1>
  <% @users.each do |u| %>
    <hr class="underline-user">
    <a href="/users/<%= u.id %>" class="user-name"><%= u.first_name %></a>
    <%= link_to "Add Collaborator", user_collaborations_path(current_user, collaborator_id: u), method: :post %>
  <% end %>
</div>