<div class="col-xs-offset-6">
  <h1>Users</h1>
  <% @users.each do |u| %>
    <hr class="underline-user">
    <a href="/users/<%= u.id %>" class="user-link"><%= u.first_name %> <%= u.last_name %></a>
    <%= link_to "", user_collaborations_path(current_user, collaborator_id: u), method: :post, :class => "glyphicon glyphicon-plus add-user-link" %>
  <% end %>
</div>