<br>
<div class="col-xs-6 container">
  <h1 id="collaborator-h1" class="text-center">Users</h1>
  <table class="table">
    <tbody>
    <% @users.each do |u| %>
      <tr class="user-row">
        <td class="user-name">
          <%= "#{u.first_name} #{u.last_name}" %>
        </td>
        <td class="add-user">
          <%= link_to "", user_collaborations_path(current_user, collaborator_id: u.id), method: :post, class: "fa fa-plus fa-2x add-user-link" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
