<br>
<div class="col-xs-6 container">
  <h1 id="collaborator-h1" class="text-center">Results</h1>
  <ul>
    <% @results.each do |r| %>
      <li class="sidebar-li">
        <hr class="underline-user text-center">
        <a href="/users/<%= r.id %>" class="user-link"><%= r.first_name %> <%= r.last_name %></a>
        <%= link_to "", user_collaborations_path(current_user, collaborator_id: r), method: :post, :class => "glyphicon glyphicon-plus add-user-link" %>
        <br>
      </li>
    <% end %>
  </ul>
</div>