<div class="collaborator-bar"><ul></ul></div>
<div class="show-layout">
  <h3>Hello, <%= current_user.first_name %></h3>
  <div class="graph" id="bar">
    <%= column_chart(current_user.bars) %>
  </div>
  <div id="table">
    <div class="table-border-fix">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Daytime</th>
            <th>Nighttime</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Highest</td>
            <td>72</td>
            <td>65</td>
          </tr>
          <tr>
            <td>Lowest</td>
            <td>63</td>
            <td>54</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="graph" id="line">
    <%= line_chart(current_user.lines, min: 50, max: 80, :library => {
    legend: {position: 'bottom'},
    curveType: 'none',
      explorer: {keepInBounds: true, axis: 'horizontal'}
    }) %></div>
</div>

<!-- With the javascript detect touch if its a phone and if it so that it drops the menu down
have the div have auto-height -->