<div class="show-layout">
  <h3>Hello, <%= @user.first_name %></h3>
  <div class="graph" id="bar">
    <%= column_chart(@user.bars) %>
  </div>

  <%= render "table", :user => @user %>

  <div class="graph" id="line">
    <%= line_chart(@user.lines, min: 50, max: 80, :library => {
    legend: {position: 'bottom'},
    curveType: 'none',
      explorer: {keepInBounds: true, axis: 'horizontal'}
    }) %></div>
</div>