{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20000101/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.030"], "Last-Modified":["Fri, 22 Jan 2016 22:19:55 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"December 31, 1999\",\n\t\t\"year\": \"1999\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"December 31, 1999\",\n\t\t\"year\": \"1999\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"17\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:51 AM EST on December 31, 1999\",\n\t\t\"year\": \"1999\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:51 AM GMT on December 31, 1999\",\n\t\t\"year\": \"1999\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"6.1\", \"tempi\":\"43.0\",\"dewptm\":\"2.2\", \"dewpti\":\"36.0\",\"hum\":\"76\",\"wspdm\":\"11.1\", \"wspdi\":\"6.9\",\"wgustm\":\"-9999.0\", \"wgusti\":\"-9999.0\",\"wdird\":\"310\",\"wdire\":\"NW\",\"vism\":\"16.1\", \"visi\":\"10.0\",\"pressurem\":\"1014.3\", \"pressurei\":\"29.96\",\"windchillm\":\"3.8\", \"windchilli\":\"38.8\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"-9999.00\", \"precipi\":\"-9999.00\",\"conds\":\"Overcast\",\"icon\":\"cloudy\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR KLGA 310551Z 31006KT 10SM BKN110 OVC250 06/02 A2995 RMK AO2 SLP143 T00610022 10083 20061 53003\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"2:51 AM EST on December 31, 1999\",\n\t\t\"year\": \"1999\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"hour\": \"02\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"7:51 AM GMT on December 31, 1999\",\n\t\t\"year\": \"1999\",\n\t\t\"mon\": \"12\",\n\t\t\"mday\": \"31\",\n\t\t\"[...]
