{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/history_20140801/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.113"], "Last-Modified":["Fri, 29 Jan 2016 04:34:07 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"history\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"Central Park\",\n\t\t\"neighborhood\":\"Central Park\",\n\t\t\"city\": \"Central Park\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10106\",\n\t\t\"magic\":\"4\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"okx\",\n\t\t\"latitude\":40.77000046,\n\t\t\"longitude\":-73.98000336,\n\t\t\"elevation\":null,\n\t\t\"l\": \"/q/zmw:10106.4.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454042047,\n\t\"pretty\": \"11:34 PM EST on January 28, 2016\",\n\t\"rfc822\": \"Thu, 28 Jan 2016 23:34:07 -0500\",\n\t\"iso8601\": \"2016-01-28T23:34:07-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 28,\n\t\"yday\": 27,\n\t\"hour\": 23,\n\t\"min\": \"34\",\n\t\"sec\": 7,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Thursday\",\n\t\"weekday_short\": \"Thu\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\"history\": {\n\t\"start_date\": {\n\t\"epoch\": 1406908800,\n\t\"pretty\": \"12:00 PM EDT on August 01, 2014\",\n\t\"rfc822\": \"Fri, 01 Aug 2014 12:00:00 -0400\",\n\t\"iso8601\": \"2014-08-01T12:00:00-0400\",\n\t\"year\": 2014,\n\t\"month\": 8,\n\t\"day\": 1,\n\t\"yday\": 212,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"August\",\n\t\"monthname_short\": \"Aug\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EDT\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0400\",\n\t\"tz_offset_hours\": -4.00\n},\n\t\"end_date\": {\n\t\"epoch\": null,\n\t\"pretty\": null,\n\t\"rfc822\": null,\n\t\"iso8601\": null,\n\t\"year\": null,\n\t\"month\": null,\n\t\"day\": null,\n\t\"yday\": null,\n\t\"hour\": null,\n\t\"min\": null,\n\t\"sec\": null,\n\t\"monthname\": null,\n\t\"monthname_short\": null,\n\t\"weekday\": null,\n\t\"weekday_short\": null,\n\t\"ampm\": null,\n\t\"tz_short\": null,\n\t\"tz_long\": null,\n\t\"tz_offset_text\": null,\n\t\"tz_offset_hours\": null\n},\n\t\"days\": [\n\t\t{\n\t\t\"summary\": {\n\t\t\"date\": {\n\t\"epoch\": 1406908800,\n\t\"pretty\": \"12:00 PM EDT on August 01, 2014\",\n\t\"rfc822\": \"Fri, 01 Aug 2014 12:00:00 -0400\",\n\t\"iso8601\": \"2014-08-01T12:00:00-0400\",\n\t\"year\": 2014,\n\t\"month\": 8,\n\t\"day\": 1,\n\t\"yday\": 212,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"August\",\n\t\"monthname_short\": \"Aug\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EDT\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0400\",\n\t\"tz_offset_hours\": -4.00\n},\n\t\t\"temperature\": 78,\n\t\"dewpoint\": 65,\n\t\"pressure\": 30.18,\n\t\"wind_speed\": 4,\n\t\"wind_dir\": null,\n\t\"wind_dir_degrees\": null,\n\t\"visibility\": 8,\n\t\"humidity\": null,\n\t\"max_temperature\": 84,\n\t\"min_temperature\": 71,\n\t\"max_humidity\": 79,\n\t\"min_humidity\": 58,\n\t\"max_dewpoint\": 68,\n\t\"min_dewpoint\": 60,\n\t\"max_pressure\": 30.21,\n\t\"min_pressure\": 30.15,\n\t\"max_wind_speed\": 12,\n\t\"min_wind_speed\": 0,\n\t\"max_visibility\": 10,\n\t\"min_visibility\": 6,\n\t\"fog\": 0,\n\t\"hail\": 0,\n\t\"snow\": 0,\n\t\"rain\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"snowfall\": 0.00,\n\t\"monthtodatesnowfall\": 0.00,\n\t\"since1julsnowfall\": 0.00,\n\t\"snowdepth\": 0.00,\n\t\"precip\": 0.00,\n\t\"precipsource\": null,\n\t\"gdegreedays\": 26,\n\t\"heatingdegreedays\": 0,\n\t\"coolingdegreedays\": 13,\n\t\"heatingdegreedaysnormal\": 0,\n\t\"monthtodateheatingdegreedays\": 0,\n\t\"monthtodateheatingdegreedaysnormal\": 0,\n\t\"since1sepheatingdegreedays\": null,\n\t\"since1sepheatingdegreedaysnormal\": null,\n\t\"since1julheatingdegreedays\": 0,\n\t\"since1julheatingdegreedaysnormal\": 0,\n\t\"coolingdegreedaysnormal\": 12,\n\t\"monthtodatecoolingdegreedays\": 13,\n\t\"monthtodatecoolingdegreedaysnormal\": 12,\n\t\"since1sepcoolingdegreedays\": null,\n\t\"since1sepcoolingdegreedaysnormal\": null,\n\t\"since1jancoolingdegreedays\": 650,\n\t\"since1jancoolingdegreedaysnormal\": 648\n,\n\t\t\"avgoktas\": 2,\n\t\t\"icon\": \"mostlysunny\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1406868660,\n\t\"iso8601\": \"2014-08-01T00:51:00-0400\",\n\t\"tz_offset_hours\": -4.00\n},\n\t\t\"temperature\": 73.9,\n\t\"dewpoint\": 63.0,\n\t\"humidity\": 68,\n\t\"wind_speed\": 3.5,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 0,\n\t\"wind_dir\": \"Variable\",\n\t\"visibility\": 9.0,\n\t\"pressure\": 30.15,\n\t\"windchill\": null,\n\t\"heatindex\": null,\n\t\"precip\": null,\n\t\"conditions\": \"Clear\",\n\t\"icon\": \"clear\",\n\t\"fog\": 0,\n\t\"rain\": 0,\n\t\"snow\": 0,\n\t\"hail\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"metar\": \"METAR KNYC 010451Z AUTO VRB03KT 9SM CLR 23/17 A3018 RMK AO2 SLP209 T02330172 402780200\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1406872260,\n\t\"iso8601\": \"2014-08-01T01:51:00-0400\",\n\t\"tz_offset_hours\": -4.00\n},\n\t\t\"temperature\": 73.0,\n\t\"dewpoint\": 64.0,\n\t\"humidity\": 73,\n\t\"wind_speed\": 0.0,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 0,\n\t\"wind_dir\": \"North\",\n\t\"visibility\": 9.0,\n\t\"pressure\": 30.16,\n\t\"windchill\": null,\n\t\"heati[...]
