<a name="contributors"></a>
<h2 class="core-team-title">Contributors</h2>

<div class="row col-xs-12">

  <div class="col-sm-1 col-md-2"></div>

  <div class="container col-sm-10 col-md-8">

    <div class="contributor">
      <h3 class="name_bios">Andrea Acevedo</h3>
      <h4 class="job_bios">Design</h4>
      <p>Andrea comes from the public service design world working previously at the City of Boston branding SMEs and initiatives and more recently at Participle where she designed new services that tackled social issues in the UK. She was fortunate to stumble upon Heat Seek’s co-founders at the Big Apps launch and will be working on the design of the app and helping out on the UX.</p>
    </div>

    <div class="contributor">
      <h3 class="name_bios">Jarryd Hammel</h3>
      <h4 class="job_bios">Business Development</h4>
      <p>Jarryd comes to Heat Seek NYC with several years of experience as a corporate finance advisor.  He is currently pursuing his MBA at the Wharton School.  As Biz Dev Lead, Jarryd is focused on refining Heat Seek NYC's message and building the community and organizational ties we need to maximize our social impact.</p>
    </div>

    <div class="contributor">
      <h3 class="name_bios">Katie Hoffman</h3>
      <h4 class="job_bios">Front-End</h4>
      <p>Katie is a software engineer and comedian, and contributes to the user experience design and implementation of Heat Seek.</p>
    </div>

    <div class="contributor">
      <h3 class="name_bios">Michael Hoffman</h3>
      <h4 class="job_bios">Full Stack</h4>
      <p><a href="http://michaelshoffman.com/">Michael is a software engineer and product manager</a> who started writing code after dropping out of a philosophy PhD program. He found Heat Seek NYC through Kickstarter, and, after pledging, he decided to see how else he could contribute to this amazing project. He enjoys cooking, building twitterbots, and fantasy baseball, and lives in Brooklyn with his wife and baby daughter.</p>
    </div>

    <div class="contributor">
      <h3 class="name_bios">Megan Houston</h3>
      <h4 class="job_bios">Law</h4>
      <p>Megan has a background in sustainable development and environmental law.  After graduating from the University of Florida with a B. Design, she worked for an architecture firm as a project manager and designer.  In 2008, she moved to New York to earn an M.S. in Urban Environmental Systems Management from Pratt Institute.  Since then, Megan has analyzed energy efficiency financing programs, tracked building metrics, and reported on green building barriers.  During law School, Megan interned for the U.S. Environmental Protection Agency, Citizens Housing &amp Planning Council, Enterprise Community Partners, and Brooklyn Legal Services Corporation A.  She graduated from Brooklyn Law School in 2013 and began a legal fellowship with the NYC Department of Environmental Protection.</p>
    </div>

    <div class="contributor">
      <h3 class="name_bios">Ding Li</h3>
      <h4 class="job_bios">Data Science</h4>
      <p>Ding loves data. As a data scientist and founder of Smart Data Net, he develops business intelligence tools to help users stay on top of key business indicators with real-time data.  Ding started his career at the UPenn School of Medicine and has help develop business intelligence systems for organizations such as the American Institute of Physics, NBC, Estee Lauder, and Adobe. Ding holds one Masters degree in Telecommunications and Computer Science from UPenn and a Second Masters in Polymer Chemistry from the Chinese Academy of Science in Beijing.  In his spare time, Ding enjoys programming animations and creating digital art with his two daughters.  </p>
    </div>

    <div class="contributor">
      <h3 class="name_bios">Ethan Ozelius</h3>
      <h4 class="job_bios">Front-End</h4>
      <p>As Lead Front-end developer, Ethan works with a great team of designers and developers, to build an efficient website for all users.</p>
    </div>

    <div class="contributor">
      <h3 class="name_bios">Caroline Senatore</h3>
      <h4 class="job_bios">Goverment Relations</h4>
      <p>As part of the Heat Seek NYC team Caroline works to establish relationships with local government agencies and elected officials who can help Heat Seek NYC make New York City a warmer, safer place to live.  Caroline is currently pursuing a graduate degree in public policy analysis and public finance at NYU Wagner. </p>
    </div>

  </div>

</div>
