<h2 class="core-team-title">CONTRIBUTORS</h2>

<div class="row col-xs-12">
  <div class="col-sm-1 col-md-2"></div>
  <div class="container col-sm-10 col-md-8">

	<div class="contributor">
	    
	  <h3 class="name_bios">Megan Houston</h3>
	  <h4 class="job_bios">Law</h4>
	  <p>Megan has a background in sustainable development and environmental law.  After graduating from the University of Florida with a B. Design, she worked for an architecture firm as a project manager and designer.  In 2008, she moved to New York to earn an M.S. in Urban Environmental Systems Management from Pratt Institute.  Since then, Megan has analyzed energy efficiency financing programs, tracked building metrics, and reported on green building barriers.  During law School, Megan interned for the U.S. Environmental Protection Agency, Citizens Housing &amp Planning Council, Enterprise Community Partners, and Brooklyn Legal Services Corporation A.  She graduated from Brooklyn Law School in 2013 and began a legal fellowship with the NYC Department of Environmental Protection.</p>      
	</div>

	<div class="contributor">
	  
	  <h3 class="name_bios">Ding Li</h3>
	  <h4 class="job_bios">Data Science</h4>
	  <p>Ding loves data. As a data scientist and founder of Smart Data Net, he develops business intelligence tools to help users stay on top of key business indicators with real-time data.  Ding started his career at the UPenn School of Medicine and has help develop business intelligence systems for organizations such as the American Institute of Physics, NBC, Estee Lauder, and Adobe. Ding holds one Masters degree in Telecommunications and Computer Science from UPenn and a Second Masters in Polymer Chemistry from the Chinese Academy of Science in Beijing.  In his spare time, Ding enjoys programming animations and creating digital art with his two daughters.  </p>         
	  
	</div>
  </div>
</div>
