<%= form_for(:user, :url => session_path(:user), id: "hidden-sign-in-field") do |f|  %>
    <%= f.email_field :email, type: "hidden", :class => "hidden-email-field"  %></dl>
    <%= f.password_field :password, type: "hidden", :class => "hidden-password-field"  %></dl>

  <button type="button" class="btn btn-primary btn-lg btn-block btn-info" id="demo-user">Demo User Account</a>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-success" id="demo-lawyer">Demo Lawyer Account</a>
<% end %>