<!-- how it works -->
<a name="how-it-works"></a>
<h3 class="how-it-works-title">How It Works</h3>
<div class="how-it-works clearfix">

  <p>Here’s how Heat Seek NYC is working to keep the heat on for New York City tenants and landlords this winter:</p>
  
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="connect-icon"></div>
    <h4>Connect</h4>
    <p>Concerned tenants can have a small Heat Seek NYC temperature sensor installed in a discreet location in their apartment at no cost.</p>
    <p>Each sensor talks to other sensors in the same building and a central hub to wirelessly transmit temperature readings. Tenants do not need an internet connection to use a Heat Seek sensor.</p>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="analyze-icon"></div>
    <h4>Analyze</h4>
    <p>Heat Seek NYC compares sensor data against outdoor temperatures and the minimum temperature requirements according to the NYC heating code in order to identify violations 24/7.</p>
    <p>Tenants and advocates can review their temperature data by logging into Heat Seek NYC’s powerful web app.</p>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="identify-icon"></div>
    <h4>Identify</h4>
    <p>Heat Seek NYC reveals heating code violations as they occur.</p>
    <p>We track patterns of abuse, and we also work with responsible landlords to diagnose problems with their buildings’ heating systems.</p>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="act-icon"></div>
    <h4>Act</h4>
    <p>Heat Seek NYC’s temperature data provides the objective evidence needed in housing court.</p>
    <p>By making Heat Seek NYC a common presence in apartments across NYC, we aim to deter heating code violations altogether.</p>
  </div>
</div>

<div></div>