<!-- how it works -->
<a name="how-it-works"></a>
<h3 class="how-it-works-title">How It Works</h3>
<div class="how-it-works clearfix">

  <p>Here’s how Heat Seek NYC is working to keep the heat on for New York City tenants and landlords this winter:</p>
  
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="connect-icon"></div>
    <h4>Connect</h4>
    <p>One A/C powered Honeycomb, unlimited battery powered Bees per building</p>
    <p>Easy self-setup and validation of tamper-proofing</p>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="analyze-icon"></div>
    <h4>Analyze</h4>
    <p>Automated indoor and outdoor temperature logging</p>
    <p>Cold spot detection by unit, by floor, or by building</p>
    <p>Powerful web app featuring 311 heating complaint integration</p>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="identify-icon"></div>
    <h4>Identify</h4>
    <p>Instant reports for verifying heating complaints in housing court</p>
    <p>Reports on heating inefficiencies and potential savings for landlords</p>
  </div>

  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div id="act-icon"></div>
    <h4>Act</h4>
    <p>Unbiased evidence to verify heating complaints in housing court</p>
    <p>An easier path to compliance--and serious energy savings--for landlords</p>
    <p>The transparency to inform housing policy</p>
  </div>
</div>
