<div class="about">
  <div class="col-xs-1 col-lg-2"></div>
  <div class="container col-lg-8">
    <h1 class="about-title">Heat Seek NYC is a civic hacking project</h1>
    
    <p>We’re a team of New Yorkers who believes no New Yorker should have to spend the winter in a frigid apartment. The reality is, this happens to thousands of us every year, creating a public health hazard and some serious animosity between tenants and landlords.</p>

    <p>At Heat Seek NYC, we’re tapping the internet of things to empower tenants, landlords, community organizations, and the justice system to tackle our city’s heating crisis. We:</p>

    <ul>
      <li class="about-bullets">Provide unbiased evidence to verify heating code abuse claims in housing court</li>
      <li class="about-bullets">Help landlords heat their buildings more effectively while reducing costs</li>
      <li class="about-bullets">Create transparency in heating data to educate the community and inform housing policy</li>
    </ul>

    <p>Our affordable temperature sensors can be installed in any number of apartments per building. They talk to each other via mesh network to periodically collect and transmit ambient temperature data to Heat Seek NYC’s servers. Our powerful web app integrates this data with public 311 heating complaint information to deliver a better picture of New York City’s heating crisis than ever before.</p>

    <p>We are working closely with community organizations, landlords, and the HPD to make our technology available to thousands of New Yorkers in time for the cold.</p>

    <h3>We’re Heat Seek NYC, and we’re keeping the heat on this winter.</h3>
  </div>
</div>
