<div class="about">
  <div class="col-xs-1 col-lg-2"></div>
  <div class="container col-lg-8">
    <h4 class="about-title">Heat Seek NYC is a civic hacking project whose mission is to keep the heat on for New York City residents.</h4>
    
    <p>Every year, heating code violations are reported in the hundreds of thousands in NYC. Living without proper heat is something no New Yorker should have to do, and it can have serious health consequences. We want to make these violations a thing of the past. We’re creating mesh networks of temperature sensors that can connect any number of apartments per building to Heat Seek NYC’s servers. These sensors periodically collect ambient temperature data and transmit it securely via WiFi, allowing us to:</p>
    
    <ul>
      <li class="about-bullets">Provide objective evidence of heating code violations</li>
      <li class="about-bullets">Streamline the housing court process in instances of heating code abuse</li>
      <li class="about-bullets">Notify concerned landlords of problems with their heating systems</li>
      <li class="about-bullets">Help landlords save money by understanding heating imbalances in their buildings</li>
    </ul>

    
    <p>Heat Seek NYC’s powerful web app features tools that integrate our data with public 311 data to
      provide all of the city’s stakeholders with a better picture of New York City’s heating crisis than 
      ever before.</p>
    
    <p>Heat Seek NYC is working closely with tenants, landlords, tenant unions, advocacy groups, and
      the HPD to help make our city a warmer, safer place for all its residents.</p>
  </div>
</div>

<%= render partial: 'how_it_works' %>
<%= render partial: 'layouts/footer_elements' %>