<%= render 'facebook_script_tag' %>

<div class="blog clearfix">
  <div class="container">
    <h4 class="blog-title">Heat Seek Blog</h4>
    
    <div class="container col-xs-12 col-md-9">
      <%= render 'tumblr_embed' %>
    </div>
    
    <div class="col-xs-12 col-md-3">
      <div class="twitter-embed">
        <%= render 'twitter_embed' %>
      </div>
    </div>

  </div>
</div>