<div class="col-lg-2"></div>
<div class="col-lg-8">
  <h4 class="about-title">Beta Demo</h4>
  <div class="col-xs-12">
    <%= video_tag 'https://s3-us-west-2.amazonaws.com/heatseeknyc/demo.mp4', controls: true, autobuffer: true, id: 'demo-video' %>
  </div>  
</div>
<%= render partial: 'layouts/footer_elements' %>