<div id="donation">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h2>Winter Is Coming...</h2>
    <p>And this year we expect to see more heating complaints than ever before. Heat Seek sensors can make a difference.</p>
    <span>Last year:</span>
    <div class="stat-segments">
      <div class="stat-segment">
        <span class="stat">230,000</span>
        <p class="segment">Heating code complaints</p>
      </div>
      <div class="stat-segment">
        <span class="stat">37,000</span>
        <p class="segment">Affected buildings city-wide</p>
      </div>
      <div class="stat-segment">
        <span class="stat">150,000</span>
        <p class="segment">Hourly temperature readings recorded by a Heat Seek sensor</p>
      </div>
      <div class="stat-segment">
        <span class="stat">3,900</span>
        <p class="segment">Hours of violations documented</p>
      </div>
    </div>
    <div>
      <h2>We Can Do More</h2>
      <p>With your support, we can expand the number of Heat Seek sensors helping tenants get the heat they deserve.</p>
      <%= link_to "Donate Online", "https://www.nycharities.org/give/donate.aspx?cc=4081", :class => "btn-primary btn-donate" %>
      <p>Prefer to donate by check? Please send to:</p>
      <div class="address bold">
        <div>Fund for the City of New York</div>
        <div>c/o Sarah Kwak</div>
        <div>121 6th Ave, 6th Floor</div>
        <div>New York, NY 10013</div>
      </div>
      <p>
        Checks should be made out to <span class="bold">Fund for the City of
        New York</span>, with <span class="bold">Heat Seek</span> on the memo
        line.
      </p>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <aside class="clearfix">
      <h3>Your donation makes a difference.</h3>
      <%= image_tag 'malaika.png' %>
      <p>This summer, while most of us are doing everything we can to fight the heat, Crown Heights resident Malaika won’t complain. In fact, she’ll welcome it.</p>
      <p>For Malaika, the summer is a respite, the first time in months  she can feel comfortable in her own home. This time of year provides a brief escape from the freezing conditions that her landlord chose to ignore when he failed to provide sufficient heat in her apartment last winter. During the coldest months, Malaika often had to resort to using the stove to heat her home.</p>
      <p>This seasonal reprieve, however, is no cause for celebration. With winter fast approaching, Malaika – along with thousands of New Yorkers – will soon again be left out in the cold.</p>
    </aside>
    <p>Interested in purchasing a Heat Seek sensor for your home? Sign up <%= link_to "here", resources_path(anchor: 'signup') %> for a spot on our waitlist.</p>
  </div>
  <div class="col-sm-1"></div>
</div>
