<div id="giving-tuesday">
  <%= image_tag("giving_tuesday_banner.png", class: "giving-tuesday") %>
  <%= link_to "Donate Now", "https://www.nycharities.org/give/donate.aspx?cc=4081", :class => "btn-primary btn-donate" %>
  <p>Winter is coming...</p>
  <p>Your #GivingTuesday donation helps keep NYers safe and warm this holiday season.</p>
  <div class="videoWrapper">
    <iframe
       width="560"
       height="315"
       src="https://www.youtube.com/embed/15hh8EL13FM"
       frameborder="0"
       allowfullscreen>
    </iframe>
  </div>
  <%= link_to "Donate Now", "https://www.nycharities.org/give/donate.aspx?cc=4081", :class => "btn-primary btn-donate" %>
</div>

