<!--Begin Edit-->
<div id="homesplash">
  <div id="about-center-control">
    <div id="center-content center-content-extend">
      <div class="container">
        <div id="overlay"></div>
        <div class="col-lg-2"></div>
        <div class="jumbotron about col-lg-8">
          <center>
            <h1>How It Works</h1>

            <h3 class="about-title">Here’s how Heat Seek NYC is working to keep the heat on for New York City’s residents this winter:</h3>

            <h4>Connect</h4>
            <ul>
              <li>Concerned tenants can have a small Heat Seek NYC temperature sensor installed in a discrete location in their apartment, at no cost to them</li>
              <li>The sensor talks to other sensors in the same building and a central hub to connect to the internet and wirelessly transmit temperature readings</li>
            </ul>


            <h4>Analyze</h4>
            <ul>
              <li>Heat Seek NYC compares sensor data against outdoor temperatures and the minimum temperature requirements according to the NYC heating code</li>
              <li>Tenants, landlords, community organizations, and union representatives can analyze their relevant data by logging into Heat Seek NYC’s powerful web app</li>
            </ul>

            <h4>Identify</h4>
            <ul>
              <li>Heat Seek NYC reveals heating code violations as they occur</li>
              <li>We track patterns of abuse, and we also work with responsible landlords to diagnose problems with their buildings’ heating systems</li>
            </ul>

            <h4>Act</h4>
            <ul>
              <li>Heat Seek NYC’s temperature data provides the objective evidence needed to enact judgments regarding NYC heating code violations</li>
              <li>By making Heat Seek NYC a common presence in apartments across NYC, we aim to deter heating code violations altogether</li>
            </ul>
          </center> 
        </div> <!--End of JumboTron Container-->


      </div>
    </div>
  </div>
</div>
