<div id="overlay">
  <h1 id="overlay-title" > Having trouble with your heat? </h1>

  <h3 id="overlay-description"> At Heat Seek, our mission is to help people keep their heat on. If your building is without heat frequently, we may be able to help! We're seeking buildings to participate in our winter 2015 pilot program. Ideal buildings (1) have an organized tenant association, (2) have access to legal representation, and (3) are considering bringing a case to housing court this winter. If that sounds like your building, please reach out! </h3>
  <div id="testimonials" ><span id="testimonial-span" class="hvr-float-shadow"> <a href="https://www1.nyc.gov/nyc311-hpd-service-request/form.htm?execution=e2s1" target="_blank">Don't forget to contact 311 </a> </span> </div>
  <h3 id="overlay-email-link" ><span id="link-span" class="hvr-float-shadow"><a href="mailto:info@heatseeknyc.com"> email us now</a> </span></h3>
  <h3 id="overlay-arrow-text" class="overlay-arrow"> continue to site </h3>
  <h3 id="overlay-down-arrow" class="overlay-arrow"> </h3>
</div>

<div id="panel">
  <div id="video-container">
  </div>
  <div id="video-controls">
    <span id="close-video">X</span>
  </div>

  <div id="homesplash">
    <div id="center-control">
      <div class="" id="center-content">
        <div class="logo"></div>
        <h3>Helping New York City keep the heat on.</h3>
        <!-- play button -->
        <a href="javascript:void(0);" id="play-button"><span></span></a>
      </div>
    </div>
  </div>


  <%= render partial: "layouts/footer_elements" %>
</div>

