<div id="overlay"></div>    
<div id="video-container">
  <!--
  <video preload id="ditto-video" width="640" height="360">
    <source src="media/video.webm" type="video/webm" />
    <source id="mobile-mp4" src="media/video-full.mp4" type="video/mp4" />  </video>
  -->
</div>
<div id="video-controls">
  <span id="close-video">X</span>
</div>

<div id="homesplash">
  <div id="center-control">
    <div class="" id="center-content">
      <div class="logo"></div>
      <h3>Keeping the heat on this winter.</h3>
      <!-- play button -->
      <!-- <a style="display: none" href="javascript:void(0);" id="play-button"><span></span></a> -->
      <h3 class="ks-banner">Our <a href="https://www.kickstarter.com/projects/heatseeknyc/heat-seek-nyc"><div class="ks-brand" value="Kickstarter"></div></a> campaign is live!</h3>
      <h3>Help us provide 1,000+ sensors to New Yorkers in need.</h3>
      <!-- <a href="https://www.kickstarter.com/projects/heatseeknyc/heat-seek-nyc"><button class="ks-btn"></button></a> -->
      <a href="https://www.kickstarter.com/projects/heatseeknyc/heat-seek-nyc" class="ks-link"><div class="ks-btn btn shrink">GO!</div></a>
    </div>
  </div>
</div>

<%#= render partial: 'shared/mail_chimp' %>
<%= render partial: 'layouts/footer_elements' %>