<br>
<div class="col-xs-12 col-sm-8  col-md-6  col-lg-6 container">
  <%= render "about_us" %>

  <div class="col-xs-13 col-sm-8  col-md-8  col-lg-8 container">
    <%= render "demo_logins" %>
  </div>
</div>