<div id="kickstarter">
        

        <div id="ks-main">
          <div class="container ks-title">
              <h2 class="stylish-title">HOW YOU CAN SUPPORT HEATSEEKNYC</h2>
          </div> <!-- end of title -->


          <div class="container">
            <div class="ks-greeting">
              <h4>Help us turn the heat back on.</h4>
              <p>We hope you're having an awesome day. You're here because we know you have influence. When you share something, people pay attention. So, please take a few seconds to help us help New Yorkers. </p>
              <h4>Thanks so much</h4>
              <p>The Heat Seek NYC team</p>
            </div>
          </div>
        
          <div class="progress">
            <progress class="ks-progress-bar" max="100" value="50">

          </div>
        </div> <!-- end of greeting -->


        <div class="ks-share-title">
              <h2 class="stylish-title">Share</h2>
          </div>

        <div class="container ks-share">
        
          <div class="facebook col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h4>Facebook</h4>
            <p>Share with your friends on facebook</p>
              <button href="https://www.facebook.com/heatseeknyc" class="facebook-btn">Share</button>
          </div>

          <div class="twitter col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h4>Twitter</h4>
            <p>Send out a Tweet</p>
              <button href="https://twitter.com/heatseeknyc" class="twitter-btn">Tweet</button>
          </div>

          <div class="ks-video col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h4>Video</h4>
            <p>Share our Video</p> 
            <button href="https://www.youtube.com/watch?v=eo81Dl2Yaq0" class="video-btn">Watch</button>

          </div>
        </div> <!-- end of share links -->




    </div>
