<div id="kickstarter">
  <div id="ks-main" class="clearfix">

    <div class="container">
      <h2 class="stylish-title">Support Us with 3 Clicks</h2>
      <div class="col-sm-2"></div>
      <div class="ks-greeting col-sm-8 clearfix">
        <p>Hey there,</p>
        <p>We hope you’re having an awesome day. You’re here because we know you have influence. When you share something, people pay attention. So please take a few seconds to help Heat Seek NYC keep the heat on this winter.</p>
        <p>Our sincere thanks,</p>
        <p>The Heat Seek NYC Team</p>
        <div class="names">
          <p class="col-xs-4 first-name">Andrea</p> 
          <p class="col-xs-4 first-name">Daniel</p> 
          <p class="col-xs-4 first-name">Ethan</p> 
          <p class="col-xs-4 first-name">Harold</p> 
          <p class="col-xs-4 first-name">Jarryd</p> 
          <p class="col-xs-4 first-name">Noelle</p> 
          <p class="col-xs-4 first-name">Tom</p> 
          <p class="col-xs-4 first-name">Tristan</p> 
          <p class="col-xs-4 first-name">William</p> 
        </div>
      </div>
    </div>
    
    <div class="col-sm-2"></div>
    <div class="col-xs-12 col-sm-8">
      <div class="progress">
        <div class="percentage">0%</div>
        <progress class="ks-progress-bar" max="3" value="0">
      </div>
    </div>
  </div> <!-- end of greeting -->

  <h2 class="ks-title"></h2>

  <div class="container ks-share">
  
    <div class="facebook col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h4>Facebook</h4>
      <p>Share on facebook</p>                  
        <a href="http://www.facebook.com/sharer.php?u=https://www.kickstarter.com/projects/heatseeknyc/heat-seek-nyc" target="_blank" data-visited='1'><button class="facebook-btn shrink">Share</button></a><!-- rollout add kickstarter link -->
    </div> <!-- end of fb -->

    <div class="twitter col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h4>Twitter</h4>
      <p>Send out a Tweet</p>
        <a href="http://twitter.com/home?status=(@heatseeknyc) is keeping the heat on this winter. Check out their Kickstarter! https://www.kickstarter.com/projects/heatseeknyc/heat-seek-nyc" target="_blank" data-visited='0'><button class="twitter-btn shrink">Tweet</button></a><!-- rollout add kickstarter link -->
    </div> <!-- end of twitter -->

    <div class="ks-video col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <h4>Kickstarter</h4>
      <p>Thanks for backing us!</p> 
        <a href="https://www.kickstarter.com/projects/heatseeknyc/heat-seek-nyc" target="_blank" data-visited='0'><button class="video-btn shrink">Go</button></a>

    </div>
  </div> <!-- end of share links -->
</div>
