<div class="vote">
  <div class="col-lg-2"></div>
  <div class="container bigapps col-lg-8">
    <h4 class="bigapps-title">Heat Seek NYC wins big at the BigApps Battleground!</h4>

    <p>On Saturday, July 19, Heat Seek NYC went head to head with over one hundred other app projects at NYC BigApps 2014 in Industry City, Brooklyn. Your votes made us one of the most popular projects in the competition, qualifying us to pitch in front of the entire crowd in the BigApps Battleground.</p>
    
    <p>And we won! In a unanimous decision by the Battleground judges, Heat Seek NYC was selected to advance straight to the NYC BigApps Finals in September. Between now and then, we have our work cut out for us as we develop even more affordable sensors, seek additional funding, and connect with thousands of tenants throughout the city. We look forward to keeping you updated along the way.</p>

    <p>A HUGE thanks to all of our supporters--the advisors, contributors, sponsors, and voters--who have helped us get this far. With your continued support, we’ll be able to deliver on our mission to keep the heat turned on this winter for thousands of New Yorkers.</p>

    <p>Cheers,</p>

    <p>The Heat Seek NYC Team</p>
</div>
