<div class="container" id="press-page">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="press-title">Press</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-lg-2"></div>
      <div class="press col-md-10 col-lg-8">
        <% @articles.each do |article| %>
          <%= render partial: 'articles/show', locals: {article: article} %>
        <% end %>
      </div>
    </div>
</div>
