<div class="container" id="press-page">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="press-title">Press</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-lg-2"></div>
      <div class="press col-md-10 col-lg-8">
        <div class="article">
          <h3 class="article-title"><a href="http://techpresident.com/news/25201/nyc-open-data-advocates-focused-quality-over-quantity">NYC Open Data Advocates Focus on Quality And Value Over Quantity</a></h3>
          <p class="source">from <a href="http://techpresident.com/">Tech President</a></p>
          <p class="description">Heat Seek aims to counter New York City heating code violations by using mesh networks of temperature sensors to report heating violations, aiding the housing court process, notifying tenants, lawyers and landlords, and integrating its reports with 311 data. <a href="http://techpresident.com/news/25201/nyc-open-data-advocates-focused-quality-over-quantity">Read more</a></p>
        </div>

        <div class="article">
          <h3 class="article-title"><a href="http://microsoftnewyork.com/2014/07/22/bigapps-and-open-data/">BigApps and Open Data</a></h3>
          <p class="source">from <a href="http://microsoftnewyork.com/">Microsoft New York</a></p>
          <p class="description">[The] winner of the people’s choice vote may have been the biggest star of the day: Heat Seek NYC. <a href="http://microsoftnewyork.com/2014/07/22/bigapps-and-open-data/">Read more</a></p>
        </div>

        <div class="article">
          <h3 class="article-title"><a href="http://betabeat.com/2014/06/slumlord-cyber-killers/">Slumlord Cyber Killers — An App to Bust Heat Misers</a></h3>
          <p class="source">from <a href="http://betabeat.com">BetaBeat</a></p>
          <p class="description">Techies turn up the heat on shady NYC slumlords. <a href="http://betabeat.com/2014/06/slumlord-cyber-killers/">Read more</a></p>
        </div>

        <div class="article">
          <h3 class="article-title"><a href="https://medium.com/@FlatironSchool/heat-seek-nyc-aims-to-keep-the-city-warm-with-code-d1da5d2a2641">Heat Seek NYC Aims to Keep the City Warm with Code</a></h3>
          <p class="source">from <a href="http://flatironschool.com">Flatiron School</a></p>
          <p class="description">Flatiron Alums William Jeffries and Tristan Siegel want to help NYC residents turn up their heat with an app that records temperature. <a href="https://medium.com/@FlatironSchool/heat-seek-nyc-aims-to-keep-the-city-warm-with-code-d1da5d2a2641">Read more</a></p>
        </div>

        <div class="article">
          <h3 class="article-title"><a href="http://www.theverge.com/2014/7/13/5897043/you-probably-wont-care-about-this-unless-you-live-in-new-york">You probably won't care about this unless you live in New York...</a></h3>
          <p class="source">from <a href="http://www.theverge.com/forums">The Verge Forums</a></p>
          <p class="description">BUT if you do live in New York, you probably know that landlords are required to turn the heat on by a certain date in October every year — and that every year certain scummy landlords will try to save money by not doing it. <a href="http://www.theverge.com/2014/7/13/5897043/you-probably-wont-care-about-this-unless-you-live-in-new-york">Read more</a></p>
        </div>

        <div class="article">
          <h3 class="article-title"><a href="http://bit.ly/mlbmay2014">New York Tech Meetup: Hack of the Month</a></h3>
          <p class="source">from <a href="http://nytm.org">New York Tech Meetup</a></p>
          <p class="description">Heat Seek NYC: helps tenants prove their apartment is too cold when their landlords don't turn the heat up in the winter (fast forward through video to Hack of the Month bookmark). <a href="http://bit.ly/mlbmay2014">Read more</a></p>
        </div>
      </div>
    </div>
</div>
