<div class="resources">
  <div class="container resources-wrapper">
    <h4 class="resources-title">Heat Seek Help</h4>

    <div class="resources-top">


      <h4 class="wo-heat">If you are currently without heat, please <b>call 311</b> to report the problem.</h4>

      <h4><a href="http://www1.nyc.gov/site/hpd/renters/important-safety-issues-heat-hot-water.page">NYC regulations</a> require the following:</h4>

      <h5>Year Round</h5>
      <ul>
        <li>Hot water must be available at a constant minimum temperature of 120 degrees.</li>
      </ul>

      <h5>Between October 1 and May 31 ("Heat Season")</h5>
      <ul>
        <li>Between the hours of 6:00 AM and 10:00 PM, if the outside temperature falls below 55 degrees, the inside temperature is required to be at least 68 degrees Fahrenheit; and,</li>
        <li>Between the hours of 10:00 PM and 6:00 AM, if the temperature outside falls below 40 degrees, the inside temperature is required to be at least 55 degrees Fahrenheit.</li>
      </ul>

      <p>If you need a sensor, please sign-up for our mailing list below. We will alert you when sensors become available to the general public. At the moment, due to high demand, our sensors are all reserved for the advocacy groups we have already partnered with as part of our pilot program. We recommend that you reach out to local advocacy groups in your area for assistance.</p>
    </div>

  </div>

  <div class="container">
    <h4 class="resources-title">borough</h4>
    <ul class="boroughs">
      <li class="b-all">All Boroughs</li>
      <li class="b-manhattan">Manhattan</li>
      <li class="b-bronx">Bronx</li>
      <li class="b-brooklyn">Brooklyn</li>
      <li class="b-queens">Queens</li>
      <li class="b-staten">Staten Island</li>
    </ul>
  </div>

  <div class="container resources-links">
    <div class="resources-all">
      <ul>
        <li>
          <a href="http://caaav.org/" target="_blank">CAAAV Organizing Asian Communities</a></li>
        <li>
          <a href="http://www.chhayacdc.org/" target="_blank">Chhaya Community Development Corporation</a></li>
        <li>
          <a href="http://www.casapower.org" target="_blank">Community Action for Safe Apartments (CASA)</a>
        </li>
        <li>
          <a href="http://www.cvhaction.org/" target="_blank">Community Voices Heard</a>
        </li>
        <li>
          <a href="http://www.fifthave.org/" target="_blank">Fifth Avenue Committee</a>
        </li>
        <li>
          <a href="http://www.goles.org/" target="_blank">Good Old Lower East Side</a>
        </li>
        <li>
          <a href="http://www.mirabalcenter.org/" target="_blank">Mirabal Sisters Cultural &amp; Community Center</a>
        </li>
        <li>
          <a href="http://www.mothersonthemove.org/" target="_blank">Mothers on the Move</a>
        </li>
        <li>
          <a href="http://www.northwestbronx.org/" target="_blank">Northwest Bronx Community and Clergy Coalition</a>
        </li>
        <li>
          <a href="http://pacc.publishpath.com/" target="_blank">Pratt Area Community Council</a>
        </li>
        <li>
          <a href="http://www.carrollgardensassociation.com/" target="_blank">Carroll Gardens Association</a>
        </li>
        <li>
          <a href="https://cdp.urbanjustice.org/" target="_blank">Urban Justice Center Community Development Project</a>
        </li>
        <li>
          <a href="http://cdp-ny.org/our-partners/community-partners/" target="_blank">Community Partners</a>
        </li>
        <li>
          <a href="http://www.nyc.gov/html/cau/html/cb/cb.shtml" target="_blank">NYC Community Boards</a>
        </li>
      </ul>
    </div>

    <div class="resources-manhattan">
      <ul class="resources-groups">
        <li>
          <a href="http://www.fifthave.org/" target="_blank">Fifth Avenue Committee</a>
        </li>
        <li>
          <a href="http://www.goles.org/" target="_blank">Good Old Lower East Side</a>
        </li>
      </ul>

    </div>

    <div class="resources-bronx">
      <ul class="resources-groups">
        <li>
          <a href="http://www.northwestbronx.org/" target="_blank">Northwest Bronx Community and Clergy Coalition</a>
        </li>
      </ul>

    </div>

    <div class="resources-brooklyn">
      <ul class="resources-groups">
        <li>
          <a href="http://www.carrollgardensassociation.com/" target="_blank">Carroll Gardens Association</a>
        </li>
      </ul>
    </div>

    <div class="resources-queens">
      <ul class="resources-groups">
        <li>Sorry! We don't know any Queens-specific organizations at this time. Know an entity that fits our mission? Sign up for our mailing list below and tell us about it!</li>
      </ul>

    </div>

    <div class="resources-statenisland">
      <ul class="resources-groups">
        <li>Sorry! We don't know any Staten Island-specific organizations at this time. Know an entity that fits our mission? Sign up for our mailing list below and tell us about it!</li>
      </ul>

    </div>
  </div>

  <!-- Begin MailChimp Signup Form -->
  <div id="resources-signup">
    <form action="//heatseeknyc.us8.list-manage.com/subscribe/post?u=3bebfb4fe5f6381137ab820f9&amp;id=94bd659a6a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="signup">
        <h2 class="resources-title">Subscribe to our mailing list</h2>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            <label for="mce-EMAIL">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
        </div>
        <div class="row">
          <div class="input-group col-sm-4">
            <p>How can Heat Seek NYC help?</p>
            <ul>
              <li>
                <label for="mce-group[14885]-14885-0">I need heat!</label>
                <input type="checkbox" value="1" name="group[14885][1]" id="mce-group[14885]-14885-0">
              </li>
              <li>
                <label for="mce-group[14885]-14885-1">I'm a landlord</label>
                <input type="checkbox" value="2" name="group[14885][2]" id="mce-group[14885]-14885-1">
              </li>
              <li>
                <label for="mce-group[14885]-14885-2">I'm a tenant</label>
                <input type="checkbox" value="4" name="group[14885][4]" id="mce-group[14885]-14885-2">
              </li>
              <li>
                <label for="mce-group[14885]-14885-3">I like Gov Tech projects</label><input type="checkbox" value="8" name="group[14885][8]" id="mce-group[14885]-14885-3">
              </li>
              <li>
                <label for="mce-group[14885]-14885-4">I like the Internet of Things</label>
                <input type="checkbox" value="16" name="group[14885][16]" id="mce-group[14885]-14885-4">
              </li>
            </ul>
          </div>
        </div>
        <!-- end mail chimp form -->
        <!-- <div class="mc-field-group input-group">
          <strong>Email Format </strong>
          <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
          <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
          </ul>
          </div> -->
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_3bebfb4fe5f6381137ab820f9_94bd659a6a" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  <!--End resources-signup-->

</div>
</div>
