<div class="about">
  <div class="col-xs-1 col-lg-2"></div>
  <div class="container col-lg-8">
    <h4 class="about-title">Resources</h4>
    
    <p>If you are currently without heat, please <b>call 311</b> and report the problem.</p>

    <p>If you are in need of a sensor, please sign up below and we will alert you when sensors become available to the general public. At the moment, due to limited supply, our sensors are going to the advocacy groups we have already partnered with. We recommend that you reach out to local advocacy groups in your area for help.</p>
    
  </div>
</div>
