<div class="container" id="sponsors-page">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sponsors-title">Sponsors</h2>
    </div>
  </div>
  <div class="row">
    <div class="sponsor">
      <div class="col-xs-4"><a class="logo-buttons flatiron" href="http://flatironschool.com/"></a></div>
      <div class="col-xs-4"><a class="logo-buttons sparkfun" href="https://www.sparkfun.com/"></a></div>
      <div class="col-xs-4"><a class="logo-buttons bielecki" href="https://www.sparkfun.com/"></a></div>
      <div class="col-xs-4"><a class="logo-buttons pdm" href="http://personaldemocracy.com/"></a></div>
      <div class="col-xs-4"><a class="logo-buttons betanyc" href="http://betanyc.com/"></a></div>
      <div class="col-xs-4"><a class="logo-buttons mapbox" href="http://mapbox.com/"></a></div>
      <div class="col-xs-2"><a class="logo-buttons" href="#"></a></div>
      <div class="col-xs-8"><a class="logo-buttons wunderground" href="http://wunderground.com/"></a></div>
      <div class="col-xs-2"><a class="logo-buttons" href="#"></a></div>
      <div class="col-xs-2"><a class="logo-buttons" href="#"></a></div>
      <div class="col-xs-8"><a class="logo-buttons microsoft" href="http://www.microsoft.com/"></a></div>
      <div class="col-xs-2"><a class="logo-buttons" href="#"></a></div>
    </div>

    <div class="sponsor">
    </div>

    <div class="sponsor">
    </div>

    <div class="sponsor">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="partners-title">Partners</h2>
    </div>
  </div>
  <div class="row">
    <div class="partner col-xs-12 col-sm-4">
      <a class="bbp-logo" href="http://brooklyn-usa.org/"></a>
    </div>

    <div class="partner col-xs-12 col-sm-4">
      <a class="ujc-logo" href="https://www.urbanjustice.org/"></a>
    </div>

    <div class="partner col-xs-12 col-sm-4">
      <a class="casa-logo" href="https://www.facebook.com/pages/New-Settlement-Apartments-Community-Action-for-Safe-Apartments-CASA/275463095900687"></a>
    </div>

    <div class="partner col-xs-12 col-sm-4">
      <a class="palante-logo" href="http://www.palanteharlem.org/"></a>
    </div>

    <div class="partner col-xs-12 col-sm-4">
      <a class="pacc-logo" href="http://pacc.publishpath.com/"></a>
    </div>
  </div>
</div>
