<div class="container" id="sponsors-page">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sponsors-title">Sponsors</h2>
    </div>
  </div>
  <div class="row">
    <div class="sponsor">
      <div class="col-xs-6"><a class="logo-buttons flatiron" href="http://flatironschool.com/"></a></div>
      <div class="col-xs-6"><a class="logo-buttons sparkfun" href="https://www.sparkfun.com/"></a></div>
      <div class="col-xs-6"><a class="logo-buttons pdm" href="http://personaldemocracy.com/"></a></div>
      <div class="col-xs-6"><a class="logo-buttons betanyc" href="http://betanyc.com/"></a></div>
    </div>

    <div class="sponsor">
    </div>

    <div class="sponsor">
    </div>

    <div class="sponsor">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="partners-title">Partners</h2>
    </div>
  </div>
  <div class="row">
    <div class="partner col-xs-6">
      3415 Broadway Tenants Association
    </div>

    <div class="partner col-xs-6">
      930/940 Prospect Place Tenants Association
    </div>
  </div>
</div>
