<% 6.times do %>
<div class="col-xs-12 col-sm-4 team-bio">
  <h3>Name!</h3>
  <h4>Role!</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet, nulla eu vulputate mattis, ipsum dolor cursus nulla, laoreet laoreet dui nisi et arcu. Suspendisse potenti. Vestibulum magna nunc, blandit ac dui vitae, luctus blandit augue. Donec mattis, mauris nec congue mattis, orci arcu venenatis mi, ut auctor tellus felis vel ante. Pellentesque pulvinar id ipsum et dignissim. Duis euismod augue quis nisl pulvinar facilisis. Suspendisse lobortis sapien a diam viverra aliquam. Cras vel nunc diam. In rutrum nulla ac erat eleifend, vel tincidunt sem pulvinar. Quisque eget massa sit amet ligula tempus elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<% end %>