<% if Rails.env.development? %>

	<div id="backers-thankyou" class="clearfix">
	<h2 class="stylish-title">Thank You Kickstarter Backers!</h2>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="intro col-xs-12 col-sm-6">
				<p>Thank you to all our wonderful Kickstarter Backers! A big shoutout to those of you who are helping keep the heat on this winter:</p>

				<p>LIST OF BACKERS GOES HERE</p>
			</div>
		</div>
	</div>

<% end %>