<% if Rails.env.development? %>

	<div id="backers-thankyou" class="clearfix">
		<div class="container">
			<h2 class="stylish-title">Thank You Kickstarter Backers!</h2>
			
			<div class="row">
				<div class="intro ">
					<p>Thank you to all our wonderful Kickstarter Backers! A big shoutout to those of you who are helping keep the heat on this winter:</p>
					<div class="backer-type">
						<ul>
							<li>Angels</li>
							<li>Backers</li>
						</ul>
					</div>
				</div>
			</div>
		</div>	

		<div class="angels container">
			<div class="thanks-angels">
				<h2>Heat Seek NYC Angels</h2>
				<p>We love our Angels! Giving the gift of a sensor has helped us log over 5,000 individual violations this Winter.</p>
			</div>	

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="column-1">
					<ul>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="column-2">
					<ul>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="column-2">
					<ul>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
						<li>Angel Name</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="backers container">
			<div class="thanks-backers">
				<h2>Heat Seek NYC Backers</h2>
				<p>Heat Seek NYC backers your support is awesome! No matter how big or small, your support helped keep the heat on this winter.</p>
			</div>	

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="column-1">
					<ul>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="column-2">
					<ul>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="column-2">
					<ul>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
						<li>Backer Name</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<% end %>