<h2 class="stylish-title-top">Video</h2>
<div class="vimeo-container">
  <div class="sixteen-nine">
    <iframe
       class="vimeo-embed"
       src="https://player.vimeo.com/video/108858343"
       frameborder="0"
       webkitallowfullscreen
       mozallowfullscreen
       allowfullscreen>
    </iframe>
  </div>
</div>
