<div class="vote">
  <div class="col-lg-2"></div>
  <div class="container col-lg-8">
    <h4 class="about-title">Vote For Us</h4>

    <p>We’re competing in NYC BigApps 2014 to solve one of New York City’s toughest civic challenges. A win in BigApps would enable us to provide hundreds of temperature sensors to tenants that desperately need them in time for the winter. Winning would also help us raise awareness of the issue and attract partners that can help us implement our vision.</p>
    
    <p>This year, for the first time, BigApps is asking the public to vote on which projects should progress beyond the first round of the competition. Please visit the NYC BigApps Project Hub and vote for Heat Seek NYC!</p>
    
    <h3 class="to-vote">To Vote:</h3>

    <ol>
      <li class="vote-bullets">Click the button below to visit the BigApps Project Hub.</li>
      <li class="vote-bullets">Click the “VOTE” button.</li>
      <li class="vote-bullets">Fill out the voting ballot, selecting Heat Seek NYC from the dropdown.</li>
      <li class="vote-bullets">Click “Submit.”</li>
    </ol>
    
    <div class="col-xs-2 col-sm-4 col-md-4"></div>
    <div class="col-xs-8 col-sm-8 col-md-8">
      <h3><a href="http://nycbigapps.com/projects" class="btn-black btn-lg">NOW GO VOTE FOR US!</a></h3>
    </div>
  </div>  
</div>
<%= render partial: 'layouts/footer_elements' %>