{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/history_20160123/q/10001.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.174"], "Last-Modified":["Fri, 29 Jan 2016 04:33:08 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"history\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"New York\",\n\t\t\"neighborhood\":\"Chelsea\",\n\t\t\"city\": \"New York\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10001\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"dix\",\n\t\t\"latitude\":40.75013351,\n\t\t\"longitude\":-73.99700928,\n\t\t\"elevation\":null,\n\t\t\"l\": \"/q/zmw:10001.1.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454041988,\n\t\"pretty\": \"11:33 PM EST on January 28, 2016\",\n\t\"rfc822\": \"Thu, 28 Jan 2016 23:33:08 -0500\",\n\t\"iso8601\": \"2016-01-28T23:33:08-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 28,\n\t\"yday\": 27,\n\t\"hour\": 23,\n\t\"min\": \"33\",\n\t\"sec\": 8,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Thursday\",\n\t\"weekday_short\": \"Thu\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\"history\": {\n\t\"start_date\": {\n\t\"epoch\": 1453568400,\n\t\"pretty\": \"12:00 PM EST on January 23, 2016\",\n\t\"rfc822\": \"Sat, 23 Jan 2016 12:00:00 -0500\",\n\t\"iso8601\": \"2016-01-23T12:00:00-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 23,\n\t\"yday\": 22,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Saturday\",\n\t\"weekday_short\": \"Sat\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\"end_date\": {\n\t\"epoch\": null,\n\t\"pretty\": null,\n\t\"rfc822\": null,\n\t\"iso8601\": null,\n\t\"year\": null,\n\t\"month\": null,\n\t\"day\": null,\n\t\"yday\": null,\n\t\"hour\": null,\n\t\"min\": null,\n\t\"sec\": null,\n\t\"monthname\": null,\n\t\"monthname_short\": null,\n\t\"weekday\": null,\n\t\"weekday_short\": null,\n\t\"ampm\": null,\n\t\"tz_short\": null,\n\t\"tz_long\": null,\n\t\"tz_offset_text\": null,\n\t\"tz_offset_hours\": null\n},\n\t\"days\": [\n\t\t{\n\t\t\"summary\": {\n\t\t\"date\": {\n\t\"epoch\": 1453568400,\n\t\"pretty\": \"12:00 PM EST on January 23, 2016\",\n\t\"rfc822\": \"Sat, 23 Jan 2016 12:00:00 -0500\",\n\t\"iso8601\": \"2016-01-23T12:00:00-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 23,\n\t\"yday\": 22,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Saturday\",\n\t\"weekday_short\": \"Sat\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 26,\n\t\"dewpoint\": 21,\n\t\"pressure\": 29.77,\n\t\"wind_speed\": 16,\n\t\"wind_dir\": null,\n\t\"wind_dir_degrees\": null,\n\t\"visibility\": 1,\n\t\"humidity\": null,\n\t\"max_temperature\": 27,\n\t\"min_temperature\": 24,\n\t\"max_humidity\": 92,\n\t\"min_humidity\": 63,\n\t\"max_dewpoint\": 24,\n\t\"min_dewpoint\": 15,\n\t\"max_pressure\": 30.10,\n\t\"min_pressure\": 29.60,\n\t\"max_wind_speed\": 25,\n\t\"min_wind_speed\": 5,\n\t\"max_visibility\": 5,\n\t\"min_visibility\": 0,\n\t\"fog\": 1,\n\t\"hail\": 0,\n\t\"snow\": 1,\n\t\"rain\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"snowfall\": 26.60,\n\t\"monthtodatesnowfall\": 27.20,\n\t\"since1julsnowfall\": 27.20,\n\t\"snowdepth\": 6.00,\n\t\"precip\": 2.31,\n\t\"precipsource\": null,\n\t\"gdegreedays\": 0,\n\t\"heatingdegreedays\": 39,\n\t\"coolingdegreedays\": 0,\n\t\"heatingdegreedaysnormal\": 33,\n\t\"monthtodateheatingdegreedays\": 719,\n\t\"monthtodateheatingdegreedaysnormal\": 750,\n\t\"since1sepheatingdegreedays\": null,\n\t\"since1sepheatingdegreedaysnormal\": null,\n\t\"since1julheatingdegreedays\": 1741,\n\t\"since1julheatingdegreedaysnormal\": 2435,\n\t\"coolingdegreedaysnormal\": 0,\n\t\"monthtodatecoolingdegreedays\": 0,\n\t\"monthtodatecoolingdegreedaysnormal\": 0,\n\t\"since1sepcoolingdegreedays\": null,\n\t\"since1sepcoolingdegreedaysnormal\": null,\n\t\"since1jancoolingdegreedays\": 0,\n\t\"since1jancoolingdegreedaysnormal\": 0\n,\n\t\t\"avgoktas\": 8,\n\t\t\"icon\": \"snow\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1453526340,\n\t\"iso8601\": \"2016-01-23T00:19:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 25.0,\n\t\"dewpoint\": 19.0,\n\t\"humidity\": 78,\n\t\"wind_speed\": 8.1,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 60,\n\t\"wind_dir\": \"ENE\",\n\t\"visibility\": 0.8,\n\t\"pressure\": 30.10,\n\t\"windchill\": 16.3,\n\t\"heatindex\": null,\n\t\"precip\": 0.00,\n\t\"conditions\": \"Light Snow\",\n\t\"icon\": \"snow\",\n\t\"fog\": 0,\n\t\"rain\": 0,\n\t\"snow\": 1,\n\t\"hail\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"metar\": \"SPECI KNYC 230519Z AUTO 06007KT 3/4SM -SN VV015 M04/M07 A3010 RMK AO2 P0000 T10391072 $\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1453528020,\n\t\"iso8601\": \"2016-01-23T00:47:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 24.8,\n\t\"dewpoint\": 19.4,\n\t\"humidity\": 80,\n\t\"wind_speed\": 12.7,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 50,\n\t\"wind_dir\": \"NE\",\n\t\"visibility\": 0.5,\n\t\"pressure\": 30.08,\n\t\"windchill\": 13.4,\n\t\"heati[...]
