{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20160123/q/10001.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.032"], "Last-Modified":["Sat, 23 Jan 2016 20:39:47 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"January 23, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"23\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"19\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"January 23, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"23\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"19\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:19 AM EST on January 23, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"23\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"19\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:19 AM GMT on January 23, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"23\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"19\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"-3.9\", \"tempi\":\"25.0\",\"dewptm\":\"-7.2\", \"dewpti\":\"19.0\",\"hum\":\"78\",\"wspdm\":\"13.0\", \"wspdi\":\"8.1\",\"wgustm\":\"-9999.0\", \"wgusti\":\"-9999.0\",\"wdird\":\"60\",\"wdire\":\"ENE\",\"vism\":\"1.2\", \"visi\":\"0.8\",\"pressurem\":\"1019.2\", \"pressurei\":\"30.10\",\"windchillm\":\"-8.7\", \"windchilli\":\"16.3\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"0.0\", \"precipi\":\"0.00\",\"conds\":\"Light Snow\",\"icon\":\"snow\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"1\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"SPECI KNYC 230519Z AUTO 06007KT 3/4SM -SN VV015 M04/M07 A3010 RMK AO2 P0000 T10391072 $\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:47 AM EST on January 23, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"23\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"47\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:47 AM GMT on January 23, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"23\",\n\t\t\"hour\": \"05\"[...]
