{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/history_20000101/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.285"], "Last-Modified":["Tue, 12 Apr 2016 21:37:12 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"https://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"history\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"Central Park\",\n\t\t\"neighborhood\":\"Central Park\",\n\t\t\"city\": \"Central Park\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10106\",\n\t\t\"magic\":\"4\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"okx\",\n\t\t\"latitude\":40.77000046,\n\t\t\"longitude\":-73.98000336,\n\t\t\"elevation\":null,\n\t\t\"l\": \"/q/zmw:10106.4.99999\",\n\t\t\"canonical\": \"/us/ny/central-park\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1460497032,\n\t\"pretty\": \"5:37 PM EDT on April 12, 2016\",\n\t\"rfc822\": \"Tue, 12 Apr 2016 17:37:12 -0400\",\n\t\"iso8601\": \"2016-04-12T17:37:12-0400\",\n\t\"year\": 2016,\n\t\"month\": 4,\n\t\"day\": 12,\n\t\"yday\": 102,\n\t\"hour\": 17,\n\t\"min\": \"37\",\n\t\"sec\": 12,\n\t\"monthname\": \"April\",\n\t\"monthname_short\": \"Apr\",\n\t\"weekday\": \"Tuesday\",\n\t\"weekday_short\": \"Tue\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EDT\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0400\",\n\t\"tz_offset_hours\": -4.00\n}\n\t}\n\t\t,\n\"history\": {\n\t\"start_date\": {\n\t\"epoch\": 946746000,\n\t\"pretty\": \"12:00 PM EST on January 01, 2000\",\n\t\"rfc822\": \"Sat, 01 Jan 2000 12:00:00 -0500\",\n\t\"iso8601\": \"2000-01-01T12:00:00-0500\",\n\t\"year\": 2000,\n\t\"month\": 1,\n\t\"day\": 1,\n\t\"yday\": 0,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Saturday\",\n\t\"weekday_short\": \"Sat\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\"end_date\": {\n\t\"epoch\": null,\n\t\"pretty\": null,\n\t\"rfc822\": null,\n\t\"iso8601\": null,\n\t\"year\": null,\n\t\"month\": null,\n\t\"day\": null,\n\t\"yday\": null,\n\t\"hour\": null,\n\t\"min\": null,\n\t\"sec\": null,\n\t\"monthname\": null,\n\t\"monthname_short\": null,\n\t\"weekday\": null,\n\t\"weekday_short\": null,\n\t\"ampm\": null,\n\t\"tz_short\": null,\n\t\"tz_long\": null,\n\t\"tz_offset_text\": null,\n\t\"tz_offset_hours\": null\n},\n\t\"days\": [\n\t\t{\n\t\t\"summary\": {\n\t\t\"date\": {\n\t\"epoch\": 946746000,\n\t\"pretty\": \"12:00 PM EST on January 01, 2000\",\n\t\"rfc822\": \"Sat, 01 Jan 2000 12:00:00 -0500\",\n\t\"iso8601\": \"2000-01-01T12:00:00-0500\",\n\t\"year\": 2000,\n\t\"month\": 1,\n\t\"day\": 1,\n\t\"yday\": 0,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Saturday\",\n\t\"weekday_short\": \"Sat\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 42,\n\t\"dewpoint\": 40,\n\t\"pressure\": 30.24,\n\t\"wind_speed\": 7,\n\t\"wind_dir\": \"Variable\",\n\t\"wind_dir_degrees\": -1,\n\t\"visibility\": 5,\n\t\"humidity\": null,\n\t\"max_temperature\": 48,\n\t\"min_temperature\": 35,\n\t\"max_humidity\": 100,\n\t\"min_humidity\": 71,\n\t\"max_dewpoint\": 45,\n\t\"min_dewpoint\": 36,\n\t\"max_pressure\": 30.31,\n\t\"min_pressure\": 30.19,\n\t\"max_wind_speed\": 14,\n\t\"min_wind_speed\": 0,\n\t\"max_visibility\": 9,\n\t\"min_visibility\": 1,\n\t\"fog\": 0,\n\t\"hail\": 0,\n\t\"snow\": 0,\n\t\"rain\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"snowfall\": 0.00,\n\t\"monthtodatesnowfall\": null,\n\t\"since1julsnowfall\": null,\n\t\"snowdepth\": null,\n\t\"precip\": 0.00,\n\t\"precipsource\": \"3Or6HourObs\",\n\t\"gdegreedays\": 0,\n\t\"heatingdegreedays\": 24,\n\t\"coolingdegreedays\": 0,\n\t\"heatingdegreedaysnormal\": null,\n\t\"monthtodateheatingdegreedays\": null,\n\t\"monthtodateheatingdegreedaysnormal\": null,\n\t\"since1sepheatingdegreedays\": null,\n\t\"since1sepheatingdegreedaysnormal\": null,\n\t\"since1julheatingdegreedays\": null,\n\t\"since1julheatingdegreedaysnormal\": null,\n\t\"coolingdegreedaysnormal\": null,\n\t\"monthtodatecoolingdegreedays\": null,\n\t\"monthtodatecoolingdegreedaysnormal\": null,\n\t\"since1sepcoolingdegreedays\": null,\n\t\"since1sepcoolingdegreedaysnormal\": null,\n\t\"since1jancoolingdegreedays\": null,\n\t\"since1jancoolingdegreedaysnormal\": null\n,\n\t\t\"avgoktas\": 3,\n\t\t\"icon\": \"partlycloudy\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 946705860,\n\t\"iso8601\": \"2000-01-01T00:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 37.9,\n\t\"dewpoint\": 37.0,\n\t\"humidity\": 97,\n\t\"wind_speed\": 6.9,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 240,\n\t\"wind_dir\": \"WSW\",\n\t\"visibility\": 6.0,\n\t\"pressure\": 30.19,\n\t\"windchill\": 32.7,\n\t\"heatindex\": null,\n\t\"precip\": null,\n\t\"conditions\": \"Clear\",\n\t\"icon\": \"clear\",\n\t\"fog\": 0,\n\t\"rain\": 0,\n\t\"snow\": 0,\n\t\"hail\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"metar\": \"METAR KLGA 010551Z 24006KT 6SM BR CLR 03/03 A3019 RMK AO2 SLP224 T00330028 10033 20028 50008\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 946709460,\n\t\"iso8601\": \"2000-01-01T01:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 37.9,\n\t\"dewpoint\": 37.0,\n\t\"humidity\": 97,\n\t\"wind_speed\": 10.4,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 220,\n\t\"wind_dir\": \"SW\",\n\t\"visibility\": 6.0,\n\t\"pressure\": 30.21,\n\t\"windchill\": 30.9,\n\t\"[...]
