{
    "http_interactions": [
        {
            "recorded_at": "Sun, 01 Mar 2015 05:00:04 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20000101/q/knyc.json"
            },
            "response": {
                "body": {
                    "encoding": "UTF-8",
                    "string": "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\": \"invalidfeature\"\n\t\t,\"description\": \"a requested feature is not valid due to exceeding rate plan\"\n\t}\n\t}\n}\n"
                },
                "headers": {
                    "Content-Type": [
                        "application/json; charset=UTF-8"
                    ],
                    "Last-Modified": [
                        "Fri, 22 Jan 2016 04:25:29 GMT"
                    ],
                    "Nncoection": [
                        "close"
                    ],
                    "X-Api-Error": [
                        "true"
                    ],
                    "X-Creationtime": [
                        "0.026"
                    ]
                },
                "status": {
                    "code": 200,
                    "message": "OK"
                }
            }
        }
    ],
    "recorded_with": "VCR 2.9.3"
}
