{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_30000101/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["1.503"], "Last-Modified":["Sat, 23 Jan 2016 18:00:21 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"\",\n\t\t\"year\": \"\",\n\t\t\"mon\": \"\",\n\t\t\"mday\": \"\",\n\t\t\"hour\": \"\",\n\t\t\"min\": \"\",\n\t\t\"tzname\": \"\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"\",\n\t\t\"year\": \"\",\n\t\t\"mon\": \"\",\n\t\t\"mday\": \"\",\n\t\t\"hour\": \"\",\n\t\t\"min\": \"\",\n\t\t\"tzname\": \"\"\n\t\t},\n\t\t\"observations\": [\n\t\t],\n\t\t\"dailysummary\": [\n\t\t]\n\t}\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 05:00:02 GMT"}],"recorded_with":"VCR 2.9.3"}