<div class="bg-blue">
  <div class="container">
    <div class="row">
      <h1 class="styled-header col-md-6">Sensors</h1>
      <div class="admin-button-container pull-right">
        <% if false # disabled for now %>
          <%= link_to new_sensor_path, class: "admin-button" do %>
              Add Sensor
              <div class="admin-button-icon">+</div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row subheader-links">
      [<%= link_to "view assigned only", assigned_sensors_path %>]
    </div>

    <%= render "list", sensors: @sensors %>
  </div>
</div>
