<div class='container'>
  <div class="col-md-6">
    <div class="row back-button">
      <i class="fa fa-long-arrow-left"></i>
      <%= link_to " Back", :back %>
    </div>
    <h1 class="styled-header">New Sensor</h1>
    <%= render partial: "form", locals: { action_label: "Create Sensor" } %>
    <br/>
  </div>
</div>
