<div class="col-xs-6 container">
  <h1 id="collaborator-h1" class="text-center">Buildings</h1>
  <%= link_to "Add Building", new_admin_building_path %>
  <% @buildings.each do |b| %>
    <hr class="underline-user text-center">
    <li class="sidebar-li">
      <a href="<%= edit_admin_building_path(b.id) %>" class="user-link">
        <%= [b.street_address, b.zip_code, b.property_name].join(" | ") %>
      </a>
    </li>
  <% end %>
</div>
