<div class="col-xs-6 container">
  <h1 class="styled-header" class="text-center">Buildings</h1>
  <div class="admin-button-container">
    <%= link_to new_admin_building_path, class: "admin-button" do %>
        Add Building
        <div class="admin-button-icon">+</div>
    <% end %>
  </div>
  <% @buildings.each do |b| %>
    <hr class="underline-user text-center">
    <li class="sidebar-li">
      <a href="<%= edit_admin_building_path(b.id) %>" class="user-link">
        <%= " | " + [[b.street_address, b.city, b.state, b.zip_code].join(" , "), b.property_name ].join(" | ") %>
      </a>
    </li>
  <% end %>
</div>
