<div class="collaborators-sidebar .col-xs-4 .col-xs-offset-4">
  <h1 id="collaborator-h1" class="text-center">Collaborators</h1>
  <ul>
    <% current_user.collaborations.each do |c| %>
      <hr class="underline-user text-center">
      <li class="sidebar-li">
        <a class="user-link" href="/users/<%=c.collaborator.id%>">
        <%= c.collaborator.first_name %> <%= c.collaborator.last_name %></a>
        <%= link_to "", [current_user, c], method: :delete, :class => "glyphicon glyphicon-remove remove-user-link" %>
        <br>
      </li>
    <% end %>
  </ul>
</div>