<div class="col-xs-offset-5">
  <h1>Collaborators</h1>
  <ul>
    <% current_user.collaborations.each do |c| %>
      <a href="/users/<%=c.collaborator.id%>">
      <%= c.collaborator.first_name %> <%= c.collaborator.last_name %></a>
      <%= link_to "Remove", c, method: :delete %>
      <br>
    <% end %>
  </ul>
</div>