.jumbotron.about{
  border: #000 1px solid;
}

.about center p,
.about center h4,
.about center li {
  text-align: left;
}

#homesplash .about center h3.about-title {
  font-style: italic;
  font-size: 2.4em;
}

.about center li {
  font-size: 2em;
}

.to-vote {
  text-align: left;
}