@import 'shared';

.about {
  background-color: #C8DCE0;
  width: 100%;
  padding-bottom: 70px;

  .container {
    float: none;
  }

  p {
    font-size: 1.5em;
  }
}

.about-bullets {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
}

.about-title {
  @extend .stylish-title;
}
