@import 'shared';

.about {
  background-color: #C8DCE0;
  width: 100%;
  padding-bottom: 70px;

  .container {
    float: none;
  }

  p {
    font-size: 1.5em;
  }

  .about-bullets {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-family: Oswald;
  }
}

.about-title {
  @extend .stylish-title;
}

.about p,
.about li {
  text-align: left;
}

.about h4 {
  text-align: center;
}

.about li {
  font-size: 2em;
}
