@import 'shared';

.about {
  background-color: #C8DCE0;
  width: 100%;
  padding-bottom: 70px;

  .container {
    float: none;
  }

  .about-bullets {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
  }

  .about-title {
    @extend .stylish-title;
  }

  p {
    font-size: 1.5em;
  }

  p,
  li {
    text-align: left;
  }

  h3 {
    text-align: center;
    font-family: Oswald;
  }

  h4 {
    text-align: center;
  }

  li {
    font-size: 2em;
  }
}

/* Mobile */

@media (max-width: $screen-xs-max) {
  .about {
    p {
      font-size: 18px;
      line-height: 21px;
    }
  }
}

