@import "shared";

#collaborator-ul .sidebar-li {
  height: 80px;
  font-size: 23px;
  background-color: white;
  list-style-type: none;
  margin: 1px 0 0 0;
  border-bottom: 3px solid $theme-blue;
}

.sidebar-li .user-link {
  color: #262729;
  text-decoration: none;
  font-family: 'Source Sans Pro', 'sans-serif';
}

.sidebar-li {
  padding: 7px 0 7px 7px;
}

.collaborators-sidebar .sidebar-li {
  cursor: pointer;
}

#q {
	color: $theme-black;
	background-color: $theme-white;
	border: solid 1px #789ca4;
	border-radius: 0;
	margin: 20px 0;
	display: inline-block;

  &:focus {
    box-shadow: none;
  }
}

.search-input-container {
  position: relative;

  .form-control {
    height: auto;
    font-size: 20px;
  }

  .search-icon {
    position: absolute;
    top: 38%;
    right: 7px;
    border: none;
    background-color: transparent;

    .fa-search {
      font-size: 1.6em;
    }
  }
}

#collaborator-h1 {
  margin-bottom: 20px;
  padding: 15px 0px;
  font-family: "Source Sans Pro";
  font-size: 2.4em;
  font-weight: bold;
}

.address_zip {
  font-size: 14px;
  font-family: 'Source Sans Pro', 'sans-serif';
  display: block;
  padding-top: 4px;
}

#collaborator-ul {
  padding: 0;
}

#wrench {
  height: 78px;
  float: right;
  margin-top: -65px;
  border-left: 4px solid $theme-orange;
}

#edit {
  height: 78px;
  float: right;
  margin-top: -65px;
  border-left: 4px solid $theme-orange;
}

.advocate-layout {
  h3 {
    font-family: Oswald;
    text-transform: uppercase;
  }
}

.user-settings-link, .remove-user-link, .add-user-link-from-search {
  padding-top: 30px;
  text-align: center;
  width: 40px;

  &:link {
    color: $theme-blue;
  }

	&:hover {
    color: $theme-white;
    background-color: $theme-blue;
    text-decoration: none;
  }

	&:visited {
    text-decoration: none;
  }

  @media (min-width: 480px) {
		width: 83px;
	}
}

.add-user-link-from-search {
  height: 78px;
  float: right;
  margin-top: -65px;
  border-left: 4px solid $theme-blue;
}

.table a {
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

table.violations-report {
  .fa {
    color: $theme-orange;
    padding: 5px;
  }
  .column-subheading {
    font-size: 14px;
  }
  tr:last-child td {
    border-bottom: 1px solid $theme-gray-lighten-4;
    margin-bottom: 20px;
  }
}

.table-container {
  background-color: $theme-true-white;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.tenant-name {
  font-weight: bold;
  font-family: "Source Sans Pro";
  color: $theme-blue-lighten-4;

  &:hover, &:visited, &:link, &:active {
    color: $theme-blue-lighten-4;
  }
}

.user-name {
  font-size: 2em;
}

.add-user {
  text-align: center;
  a {
    margin-top: 5px;
  }
}

.severe-temp {
  color: $theme-red-darken-1;
  font-weight: bold;
}

.search-form {
  float: left;
}

.admin-button-container {
  margin-right: 1.6em;
}

.admin-button {
	background-color: $theme-blue;
	border: solid 3px $theme-black;
	font-size: 1.8em;
  font-family: Oswald;
  font-weight: 400;
	margin: 20px 0;
  color: $theme-black;
  padding-left: 12px;
  display: inline-block;
  line-height: 2em;

  .admin-button-icon {
    display: inline-block;
    background: $theme-black;
    color: $theme-white;
    margin: 0 -1px 0 12px;
    padding: 0 9px;
    width: 42px;
    text-align: center;
    font-size: 1.3em;
    font-family: SourceSansPro;
  }

  &:hover, &:visited, &:link {
    color: $theme-black;
    text-decoration: none;
  }
}

#search-button {
  float: right;
  font-size: 1em;
  padding: 5px;
}

.collaborators-sidebar {
  padding-right: 15px;
  padding-left: 15px;
}

.container .core-team-member > div {
  height: 239px;
  width: 239px;
}

.advocate-button {
  font-family: 'Oswald';
  padding: 1px 20px 1px 20px;
}

@media (max-width: $screen-xs-max) {
  .advocate-button {
    display: none;
  }
}

@media (min-width: $screen-xs-max) {
  #search-button > i {
    display: none;
  }
}

.advocate-layout .collaborators-sidebar {
  padding-right: 0;
}

#permissions-show-div {
  padding-left: 0;
  padding-right: 0;
}

#advocate-bar h3 {
  float: left;
}

.collaborators-sidebar {
  padding-left: 0;
}

#search-results {
  padding-left: 0;
  padding-right: 0;

  a.user-link {
    pointer-events: none;
    cursor: default;
  }
}

.lawyer {
  background-color: $theme-blue;
}
