@import "shared";

#collaborator-ul .sidebar-li {
  height: 80px;
  font-size: 23px;
  background-color: white;
  list-style-type: none;
  margin: 1px 0 0 0;
  border-bottom: 3px solid $theme-blue-lighten-2;
}

.sidebar-li .user-link {
  color: #262729;
  text-decoration: none;
  font-family: 'Source Sans Pro', 'sans-serif';
}

.sidebar-li {
  padding: 7px 0 7px 7px;
}

.collaborators-sidebar .sidebar-li {
  cursor: pointer;
}

#q {
  color: $theme-black;
  background-color: $theme-white;
  border: solid 1px #789ca4;
  border-radius: 0;
  margin: 20px 0;
  display: inline-block;

  &:focus {
    box-shadow: none;
  }
}

.search-input-container {
  position: relative;

  .form-control {
    height: auto;
    font-size: 20px;
  }

  .search-icon {
    position: absolute;
    top: 38%;
    right: 7px;
    border: none;
    background-color: transparent;

    .fa-search {
      font-size: 1.6em;
    }
  }
}

.address_zip {
  font-size: 14px;
  font-family: 'Source Sans Pro', 'sans-serif';
  display: block;
  padding-top: 4px;
}

#collaborator-ul {
  padding: 0;
}

.advocate-layout {
  h3 {
    font-family: Oswald;
    text-transform: uppercase;
  }
}

.add-user-link-from-search {
  height: 78px;
  float: right;
  margin-top: -65px;
  border-left: 4px solid $theme-blue-lighten-2;
  padding-top: 30px;
  text-align: center;
  width: 40px;

  &:link, &:visited {
    color: $theme-blue;
    text-decoration: none;
  }

  &:hover {
    color: $theme-white;
    background-color: $theme-blue;
    text-decoration: none;
  }

  @media (min-width: 480px) {
    width: 83px;
  }
}

.search-form {
  float: left;
}

#search-button {
  float: right;
  font-size: 1em;
  padding: 5px;
}

.advocate-button {
  font-family: 'Oswald';
  padding: 1px 20px 1px 20px;
}

@media (max-width: $screen-xs-max) {
  .advocate-button {
    display: none;
  }
}

@media (min-width: $screen-xs-max) {
  #search-button > i {
    display: none;
  }
}

.advocate-layout {
  padding-right: 0;
}

#permissions-show-div {
  padding-left: 0;
  padding-right: 0;
}

#advocate-bar h3 {
  float: left;
}

#search-results {
  padding-left: 0;
  padding-right: 0;

  a.user-link {
    pointer-events: none;
    cursor: default;
  }
}

.advocate {
  background-color: $theme-blue;
}
