@import 'shared';

.blog-title{
  @extend .stylish-title;
}

.blog {
  text-align: center;
  
  .facebook-embed,
  .twitter-embed {
    margin-bottom: 70px;
    max-width: 100%;

    iframe {
      width: 100% !important;
    }

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  ol.tumblr_posts {
    list-style: none;
    padding-left: 0;
    line-height: 3em;

    li.tumblr_post {
      margin-bottom: 35px;
      padding: 0 35px 35px 35px;
      border-bottom: 4px solid $theme-black;

      .tumblr_caption {
        line-height: 3em;
        font-size: 2em;
        font-family: Oswald;
      }

      .tumblr_title {
        font-size: 3em;
        font-family: Oswald;
      }

      div.tumblr_body {
        font-family: 'Source Sans Pro';
      }

      .tumblr_photo {
        max-width: 100%;
        height: auto;
      }

      .tumblr_date {
        color: $theme-grey;
      }
    }
  }

}

#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}