@import 'shared';

.blog {
  text-align: center;
  
  .facebook-embed,
  .twitter-embed {
    margin-bottom: 70px;
    max-width: 100%;

    iframe {
      width: 100% !important;
    }
  }

  .blog-title{
    @extend .stylish-title;
  }

  ol.tumblr_posts {
    list-style: none;
    padding-left: 0;
    line-height: 3em;

    li.tumblr_post {
      margin-bottom: 35px;
      padding: 0 35px 35px 35px;

      .tumblr_caption {
        line-height: 3em;
        font-size: 2em;
        font-family: Oswald;
      }

      .tumblr_title {
        font-size: 3em;
        font-family: Oswald;
      }

      &:nth-child(3n) {
        border-bottom: 2px solid $theme-red;

      }

      &:nth-child(3n+1) {
        border-bottom: 2px solid $theme-orange;
      }

      &:nth-child(3n+2) {
        border-bottom: 2px solid $theme-blue;
      }

      div.tumblr_body {
        font-family: 'Source Sans Pro';
      }

      .tumblr_photo {
        max-width: 100%;
        height: auto;
      }
    }
  }

}

#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}