.collaborators-sidebar {
  margin-top: 20px;
  height: 300px;
  overflow: auto;
}

h1#collaborator-h1 {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 1000;
}

.sidebar-li {
  list-style: none;
}

a.remove-user-link {
  float: right;
  position: relative;
  left: -5%;
  color: #d9534f;
}

a.remove-user-link:hover {
  color: #d2322d;
}