#collaborator-h1 {
}

.sidebar-li {
  list-style: none;
}

a.remove-user-links {
  float: right;
  position: relative;
  left: -10%;
  color: #d9534f;
}

a.remove-user-links:hover {
  color: #d2322d;
}