.collaborators-sidebar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  overflow: auto;
}

h1#collaborator-h1 {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 1000;
}

.sidebar-li {
  list-style: none;
}

a.remove-user-link {
  float: right;
  position: relative;
  left: -5%;
  color: #d9534f;
}

a.remove-user-link:hover {
  color: #d2322d;
}

@media only screen and (min-width: 450px) {
  .collaborators-sidebar {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 640px) {
  .collaborators-sidebar{
    height: 500px;
  }
}

@media only screen and (min-width: 900px) {
  .collaborators-sidebar {
    position: relative;
    left: 15px;
    margin: 0px;
    margin-right: 0; 
    height: 700px;
    width: 35%;
    float: right;    
  }
}
