@import "shared";

.show-bottom {
  padding: 0px;
}

#chart-and-legend {

  #d3-chart {
    margin: 0;

    .data-line {
      stroke: $theme-white;
      stroke-width: 4;
      fill: none;
      stroke-dasharray: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    path {
      fill: none;
    }

    .area {
      fill: $theme-blue-lighten-2;
      // opacity: 0.7;
    }

    .data-point {
      stroke: $theme-red;
      stroke-width: 2.5;
      fill: $theme-red;
    }

    .yTick {
      g.tick {
        line {
          stroke-width: 1; 
          stroke: $theme-blue-darken-2;
        }
      }
    }

    .xTick {
      g.tick {
        text {
          display: none;
        }

        line {
          opacity: 0.5;
        }
      }
    }

    text {
      font-size: 1.25em;
    }
  }

  #legend {
    width: 50%;

    span {
      margin-bottom: 20px;
      margin-left: 3%;
      font-size: 1.25em;
    }
    #violations {
      margin-right: 3%;
      margin-left: 0;

      span {
        font-size: 1em;
        margin-left: 0;
      }
    }
  }
}