@import "shared";

.show-bottom {
  background-color: $theme-blue;
  padding: 0px;
}

#d3-chart {
  margin: 0;
  background-color: $theme-blue;

  .data-line {
    stroke: $theme-white;
    stroke-width: 4;
    fill: none;
    stroke-dasharray: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  path {
    fill: none;
  }

  .area {
    fill: $theme-blue-lighten-2;
    // opacity: 0.7;
  }

  .data-point {
    stroke: $theme-red;
    stroke-width: 2.5;
    fill: $theme-red;
  }

  .yTick {
    g.tick {
      line {
        stroke-width: 0.5; 
        stroke: #58787f;
      }
    }
  }

  .xTick {
    g.tick {
      text {
        visibility: hidden;
      }
      line {
        opacity: 0.7;
      }
    }
  }
}