@import 'shared';

#donation {
  h2 {
    color: $theme-blue-darken-1;
    text-align: center;
  }

  p {
    margin-bottom: 1em;
  }

  span {
    font-size: 14px;
  }

  .btn-donate {
    background-color: $theme-red;
    border: 3px solid #000;
    color: $theme-white;
    display: block;
    font-size: 2.5em;
    margin: 30px auto;
    padding: 2px 29px;
    text-decoration: none;
    transition: background-color 0.1s ease-in-out;
    width: 216px;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .stat {
    display: inline-block;
    border-right: solid 2px $theme-white;
    line-height: 28px;
    margin: 10px 0;
    text-align: center;
    width: 25%;
    @media (max-width: $screen-xs-max) {
      border-bottom: solid 2px $theme-white;
      border-right: none;
    }
  }

  .segment {
    display: inline-block;
    padding-left: 20px;
    width: 74%;
    vertical-align: middle;
    font-size: 12px;

    @media (max-width: $screen-xs-max) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
    }
  }

  .stat-segment {
    border: solid 2px $theme-black;
    color: $theme-white;
    height: 48px;
    margin: 14px auto;
    max-width: 485px;
    @media (max-width: $screen-xs-max) {
      height: 96px;
      text-align: center;
      max-width: 420px;
    }
  }

  .stat-segments div:nth-of-type(1) {
    background-color: $theme-blue-darken-1;
    margin-top: 30px;
  }

  .stat-segments div:nth-of-type(2) {
    background-color: $theme-blue;
  }

  .stat-segments div:nth-of-type(3) {
    background-color: $theme-blue-orange-3;
  }

  .stat-segments div:nth-of-type(4) {
    background-color: $theme-red;
    margin-bottom: 50px;
  }

  aside {
    background-color: $theme-blue-darken-1;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

    h3 {
      color: $theme-white;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    p {
      color: $theme-white;

      &:first-of-type {
        margin-top: 10px;
      }
    }
  }

  .bold {
    font-weight: 600;
  }

  .address {
    margin-left: 30px;
    margin-bottom: 10px;

    div {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
}
