@import 'shared';

.medium {
  background: image-url("medium_logo_normal_100px.png") no-repeat;
}

.medium:hover {
  background: image-url("medium_logo_hover_100px.png") no-repeat;
}

.betabeat {
  background: image-url("betabeat_logo_normal_100px.png") no-repeat;
}
.betabeat:hover {
  background: image-url("betabeat_logo_hover_100px.png") no-repeat;
}

.nytm {
  background: image-url("nytm_logo_normal_100px.png") no-repeat;
}
.nytm:hover {
  background: image-url("nytm_logo_hover_100px.png") no-repeat;
}

.flatiron {
  background: image-url("flatiron_logo_normal_100px.png") no-repeat;
}
.flatiron:hover {
  background: image-url("flatiron_logo_hover_100px.png") no-repeat;
}

.pdm {
  background: image-url("pdm_logo_normal_100px.png") no-repeat;
  width: 100px;
}
.pdm:hover {
  background: image-url("pdm_logo_hover_100px.png") no-repeat;
}

.betanyc {
  background: image-url("betanyc_logo_normal.jpg") no-repeat;
  width: 100px;
}
.betanyc:hover {
  background: image-url("betanyc_logo_hover.jpg") no-repeat;
}

.sparkfun {
  background: image-url("sparkfun_logo_normal.jpg") no-repeat;
}
.sparkfun:hover {
  background: image-url("sparkfun_logo_hover.jpg") no-repeat;
}

.bielecki {
  background: image-url("bielecki_logo_normal.png") no-repeat;
}
.bielecki:hover {
  background: image-url("bielecki_logo_hover.png") no-repeat;
}

.mapbox {
  background: image-url("mapbox_logo_normal.png") no-repeat;
}
.mapbox:hover {
  background: image-url("mapbox_logo_hover.png") no-repeat;
}

.wunderground {
  background: image-url("wunderground_logo.png") no-repeat;
  width: 400px !important;
}

.microsoft {
  background: image-url("microsoft_logo.png") no-repeat;
  width: 400px !important;
}

a.fa {
  &.github, &.twitter, &.facebook {
    margin-top: 15px;
    color: $theme-grey-lighten-1;
  }
  &.github {
    padding-top: 15px;
  }
}

a.github:hover, 
a.twitter:hover, 
a.facebook:hover {
  color: $theme-blue;
  text-decoration: none;
}

#linkGroups .linkGroup .row:last-child {
  margin-top: 0;
}

.linkGroup.sponsorLinks {
  display: inherit !important;
}

.logo-buttons, .logo-buttons:hover {
  background-position: 50% 50%;
  height: 100px;
  width: 100px;
  background-size: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: opacity 0.1s ease-out;  /* Firefox 4-15 */
  -o-transition: opacity 0.1s ease-out;  /* Opera 10.50â€“12.00 */
  transition: opacity 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  @media (min-width: $screen-lg-min) {
    background-size: 100%;
  }
}

/* Interested & Donate button */
.interested {
  min-height: 239px;
  background-color: $theme-grey-lighten-2;

  .right, .left {
    height: 239px;
    display: inline-block;
    text-align: center;
  }

  .right {
  }

  .left {
  }
}

/* donate & interested section */
.paypal-btn {
  width: 143px;
  height: 48px;
  position: absolute;
  right: 19px;
  z-index: 1000;
  opacity: 0;

}

.donate-pop {
  width: 400px;
  height: 150px;
  display: block;
  margin: 105px auto 0 10%;
  border: 1px solid #969696;
  background-color: $theme-blue-lighten-2;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #ccc;
  position: absolute;
  z-index: 999;

  .opt {
    width: 40%;
    display: inline-block;
    margin: 20px auto;
    margin-left: 7px;
  }

  p {
    padding-top: 10px;
    font-size: 19px;
  }

  .opt-paypal {
    border-right: 1px solid #ccc;
    height: 107px;
    margin-left: 22px;
  }

  .pp-submit-btn {
    width: 135px;
    height: 42px;
    position: absolute;
    top: 75px;
    background-color: $theme-grey-lighten-2;
    border: 2px solid #CCC;
  }

  .cc-submit-btn {
    width: 135px;
    height: 42px;
    background-color: $theme-grey-lighten-2;
    border: 2px solid #CCC;
    position: relative;
    top: 12px;
    left: 11px;

    a {
      color: #000;
      text-decoration: none;
    }

    &:hover {
      background-color: #CCC;
    }
  }

  .opt-cc {
    margin: 0;
    position: relative;
    left: 12px;
    top: 10px;
  }

  .donate-dismiss {
    float: right;
    margin: -8px 13px 0 0;
    cursor: pointer;
  }
}






/* Footer Elements */
#linkGroups a.footer-links {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #4d4d4d;
  }
}

/* press */
.index-press {
  width: 96%;
  height: 155px;
  margin: 0 auto 14px;
  background-color: #e0eaed; 

  p, h6 {
    text-align: left;
    margin: 2px 18px; 
  }

  h6 {
    margin-left: 20px;
  }

  /* read more */
  p:last-child {
    text-align: right;
    margin: -6px 15px 0 0;
    font-style: italic;
  }
}

.article-top {
  margin-top: 17px;
}

@media (max-width: 991px) {
  .interested .left {
    border-bottom: 4px solid #000;
  }
}
