#form-id {
  padding-top: 40px;
}


@media only screen and (min-width: 640px) {
  #form-id {
    padding-left: 10%;
    padding-right: 10%;
  }
}


@media only screen and (min-width: 800px) {
  #form-id {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media only screen and (min-width: 992px) {
  #form-id {
    padding-left: 0%;
    padding-right: 0%;
    position:relative;
    left: 33%;
  }
}
