@import 'shared';

.responsive-side {
  @extend .col-sm-1;
  @extend .col-md-2;
  @extend .col-lg-3;
}

.responsive-main {
  @extend .col-sm-10;
  @extend .col-md-8;
  @extend .col-lg-6;
}

#login-form {
  font-size: 14px;
  margin: 30px auto 30px auto;

  .btn-login {
    background-color: $theme-white;
    border-color: $theme-black;
    color: $theme-black;
    height: 50px;
    width: 40%;

    &:hover {
      background-color: $theme-black;
      color: $theme-white;
    }
  }

  [type=checkbox] {
    font-size: 16px;
  }
}