@import 'shared';
#email-signup-container {
  background-color: $theme-grey-lighten-3 !important;
}

#mc_embed_signup {
  background: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#mc_embed_signup div.center-me {
  display:inline-block;
  margin-bottom:15px;
  text-align:center;
}

#mc_embed_signup form {display:block; position:relative; text-align:center; padding:10px 0 10px 0;}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:4px solid #252729; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#252729;}

#mc_embed_signup .button {
  background-color:transparent;
  border: solid #252729 4px;
  border-radius:0px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform:uppercase;
  color: $theme-black;
  cursor: pointer;
  display: inline-block;
  font-size:2.1em;
  height: 68px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

#mc_embed_signup .button:hover
{
background-color:#252729;
color:#fff;
}

#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {
display:block;
font-size:1.8em;
padding:50px 5px 30px 5px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
}

#mc_embed_signup input.email {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  display: inline-block;
  padding: 8px 0;
  margin: 10px 0 0 6px;
  text-indent: 15px;
  width: 250px;
  height: 68px;
  min-width: 130px;
  background-color: transparent;
}

#mc_embed_signup input.button {
  display: inline-block;
  margin: 10px 3px 20px 6px;
  min-width: 120px;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}
#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

@media (max-width: 480px){
  #mc-embedded-subscribe {
    padding-left: 3px;
    padding-right: 3px;
  }
}