@import 'shared';
.navbar {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform:uppercase;
    background-color: #fff;
    border:0;
}

.navbar-nav {
  margin: 0px -15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border:0;
}

.navbar .brand {
  background: image-url("heat_seek-logo-@2x.png") no-repeat top left;
  width: 128px;
  height: 43px;
  background-size: 100%;
  text-indent: -9999px;
  display: block;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  -webkit-transition: opacity 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: opacity 0.1s ease-out;  /* Firefox 4-15 */
  -o-transition: opacity 0.1s ease-out;  /* Opera 10.50â€“12.00 */
  transition: opacity 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


.navbar-default .navbar-toggle {
  position: relative;
  float: right;
  padding: 17px 17px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0px;
  
  &:hover,
  &:focus{
    background-color: $theme-black;
   
   .icon-bar {
      background-color: $theme-white;
    }
  }

  .icon-bar {
    background-color: $theme-black;
    width: 18px;
    height: 4px;
    border-radius:0px;
  }
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar-default .darktheme > .open > a,
.navbar-default .darktheme > .open > a:hover,
.navbar-default .darktheme > .open > a:focus {
  background-color: $theme-black;
  color: $theme-white;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:1.4em;
  line-height:2;
  height:51px;
}

.darktheme .dropdown-menu{
  background-color: $theme-black;
  border:0;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li {
  & > a {
    color: $theme-black;
  
    &:hover,
    &:focus {
      color: $theme-red;
      background-color: transparent;
    }
  }
} 

.darktheme .dropdown-menu > li > a {
  &:link,
  &:visited {
    color: $theme-white;
  }

  &:hover,
  &:focus {
    background-color: $theme-red;
  }
}

.navbar-nav > li.nav-highlight > a {
  &:link,
  &:visited
   {
    color:$theme-orange;
  }

  &:hover,
  &:focus
   {
    color:$theme-red;
  }
}


@media (max-width: 767px) {

  .navbar-default .navbar-nav{
    background-color:$theme-black;
    border:0;
    border-radius:0px;
    
    & > li > a{
      color: $theme-white;

      &:hover,
      &:focus {
        background-color: $theme-red;
      }
    }
    
    & .open .dropdown-menu {
      & > li > a {
        line-height: 2;
        
        &:hover,
        &:focus {
          background-color: $theme-red;
        }
      }
      
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        background-color: $theme-red;
      }

      & > .disabled > a,
      & > .disabled > a:hover,
      & > .disabled > a:focus {
        background-color: $theme-red;
      }
    }
  }
  
  .navbar-nav > li.nav-highlight
  {
    border-top:solid $theme-orange 1px;
  }
}

.navbar-default .navbar-nav .account-dropdown {
  color: $theme-orange;
}
