@import url("http://fonts.googleapis.com/css?family=Duru+Sans");

#header-fix {
  height: 1px !important;
}

.navbar-fixed-top {
  height: 65px;
}

.custom-navbar {
  position: relative;
  top: -23px;
  padding: 15px 3px;
}

#logout-id {
  left: 28px;
  float: right;
}

#site-name {
  font-size: 20px;
  font-family: 'Duru Sans', sans-serif;
  font-weight: 100;
  line-height: 0.9;
  text-align: center;
  position: relative;
  left: 13px;
}

.red {color: #BF1F15;}
.blue {color: #5D35CC;}
.light-blue {color: #428bca;}

#pipe-spacing:hover {
  color: #999999;
}

@media only screen and (min-width: 768px) {

  #site-name {
    font-size: 28px;
  }

  #logout-id {
    left: 14px;
  }

  .custom-navbar {
    top: -30px;
    padding: 15px 10px;
  }
}