@import 'shared';
.navbar {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform:uppercase;
    background-color: $theme-grey-lighten-3;
    border:0;
}

.navbar-nav {
  margin: 0px -15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border:0;
}

.navbar .brand {
  position: absolute;
  background: image-url("heat_seek-logo-@2x.png") no-repeat top left;
  left:15px;
  width: 128px;
  height: 43px;
  background-size: 100%;
  text-indent: -9999px;
  display: block;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  position: absolute;
  -webkit-transition: opacity 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: opacity 0.1s ease-out;  /* Firefox 4-15 */
  -o-transition: opacity 0.1s ease-out;  /* Opera 10.50â€“12.00 */
  transition: opacity 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


.navbar-default .navbar-toggle {
  position: relative;
  float: right;
  padding: 17px 17px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0px;
}



.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
   background-color: $theme-black;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: $theme-white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $theme-black;
  width: 18px;
  height: 4px;
  border-radius:0px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar-default .darktheme > .open > a,
.navbar-default .darktheme > .open > a:hover,
.navbar-default .darktheme > .open > a:focus {
  background-color: $theme-black;
  color: $theme-white;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:1.4em;
  line-height:2;
  height:51px;
}

.darktheme .dropdown-menu{
  background-color: $theme-black;
  border:0;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: $theme-black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $theme-red;
  background-color: transparent;
}

.darktheme .dropdown-menu > li > a:link,
.darktheme .dropdown-menu > li > a:visited {
  color: $theme-white;
}

.darktheme .dropdown-menu > li > a:hover,
.darktheme .dropdown-menu > li > a:focus {
  background-color: $theme-red;
}

.navbar-nav > li.signin > a:link,
.navbar-nav > li.signin > a:visited
 {
  color:$theme-orange;
}

.navbar-nav > li.signin > a:hover,
.navbar-nav > li.signin > a:focus
 {
  color:$theme-red;
}

@media (max-width: 767px) {

  .navbar-default .navbar-nav{
    background-color:$theme-black;
    border:0;
    border-radius:0px;
    
  }
  .navbar-default .navbar-nav > li > a{
    color: $theme-white;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus
  {
    color: $theme-white;
    background-color: $theme-red;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $theme-white;
    line-height: 2;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $theme-white;
    background-color: $theme-red;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $theme-white;
    background-color: $theme-red;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: $theme-white;
    background-color: $theme-red;
  }
  
  .navbar-nav > li.signin
  {
    border-top:solid $theme-orange 1px;
  }
}