@import url("http://fonts.googleapis.com/css?family=Duru+Sans");

.navbar-fixed-top {
  height: 65px;
}

.custom-navbar {
  position: relative;
  top: -23px;
}

#logout-id {
  float: right;
}

#site-name {
  font-size: 20px;
  font-family: 'Duru Sans', sans-serif;
  font-weight: 100;
  line-height: 0.9;
  text-align: center;
}

.red {color: #BF1F15;}
.blue {color: #5D35CC;}
.light-blue {color: #428bca;}

@media only screen and (min-width: 768px) {
  #logout-id {
    position: relative;
    left: 260%;
  }

  #site-name {
    font-size: 28px;
    position: relative;
    left: 130%;
  }

  .custom-navbar {
    top: -43px;
  }
}

@media only screen and (min-width: 992px) {
  #logout-id {
    left: 365%;
  }

  #site-name {
    left: 182%;
  }
}

@media only screen and (min-width: 1100px) {
  #logout-id {
    left: 395%;
  }

  #navbar-leftside {
    position: relative;
    left: -25%;
  }
}

@media only screen and (min-width: 1150px) {
  #logout-id {
    left: 410%;
  }

  #navbar-leftside {
    left: -34%;
  }
}

@media only screen and (min-width: 1200px) {
  #logout-id {
    left: 466%;
  }

  #site-name {
    left: 225%;
  }

  #navbar-leftside {
    left: 0%;
  }
}

@media only screen and (min-width: 1300px) {
  #logout-id {
    left: 493%;
  }

  #navbar-leftside {
    left: -27%;
  }
}

@media only screen and (min-width: 1400px) {
  #logout-id {
    left: 518%;
  }

  #navbar-leftside {
    left: -50%;
  }
}