@import 'shared';
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 51px;
  padding-bottom: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color:$theme-black;
  font-size:10px;
  line-height: 1.2;
}

p {
	font-size:1.4em;
}

a, a:link, a:visited {
color:$theme-red;
}

a:hover{
color:$theme-orange;
}

#homesplash {
	background: #efefee image-url('nyc_snow-edited_crop.jpg') no-repeat top center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	padding: 0;
}

#homesplash .logo {
	background: image-url("heat_seek_logo_splash-@2x.png") no-repeat;
	width: 150px;
	height: 160px;
	background-size: 100%;
	text-indent: -9999px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom:30px;
	padding: 0;
	-webkit-transition: opacity 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.1s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.1s ease-out;  /* Opera 10.50â€“12.00 */
	transition: opacity 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

/*for about page */
#about-center-control {
	display: block;
	text-align: center;
	padding: 30px 0 0;
	margin: auto;
	height: auto;
	overflow: hidden;
}

.jumbotron {
	opacity: 0.8
}

/* end of about section styles */

/* VIDEO */

#video-container {
	position: fixed;
	top: 0;
	overflow: hidden;
	display: none;
	z-index: -9999;
}
#video-controls {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 99999;
	
	margin: 20px;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 2em;
	cursor: pointer;
	
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	
	&:hover {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
}

#center-control {
	display: block;
	text-align: center;
	padding: 0;
	margin: auto;
	height: 535px;
	overflow: hidden;
}

#center-control-extend{
	display: block;
	text-align: center;
	padding: 0;
	margin: auto;
	height: 675px;
	overflow: hidden;
}

#center-content #play-button {
	margin-top: 20px;
	display: inline-block;
	width: 77px;
	height: 77px;
	background: image-url("play-button-@2x.png") no-repeat;
	background-size: 77px 77px;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	
	&:hover {
		background: image-url("play-button-hover-@2x.png") no-repeat;
		background-size: 77px 77px;
	}
}

#features {	
width:100%;
margin:0px;
padding:0px;
overflow: hidden;
font-family: 'Oswald', sans-serif;
font-weight: 700;
	.featureOne { background: $theme-blue; }
	.featureTwo{ background: $theme-orange; }
	.featureThree { background: $theme-red; }

	.feature a:hover{
		color: $theme-white;
	}
}


/* Mobile first */

#homesplash h3 {
	font-size: 2em;
}

#features {
	.feature {
		padding-top:40px;
		padding-bottom:40px;

		a {
			font-size: 2.8em;
			line-height: 1.2;
			width: 210px;
			padding-top: 18px;
			padding-bottom: 18px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			text-align: center;
			border-top: solid $theme-black 4px;
			border-bottom: solid $theme-black 4px;
			text-transform: uppercase;
			color: $theme-black;
			text-decoration: none;
		}
	}
}

#linkGroups {
	background: $theme-white;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;

	.linkGroup {
		padding-top:40px;
		text-align:center;
		
		h3 {
			display:inline;
			font-size:2.4em;
			text-transform:uppercase;
			color:$theme-black;
			border-bottom: solid $theme-black 3px;
		}

		.row {
			margin-top:30px;
			font-size:1.4em;
			color:$theme-black;
		}
	}
}

/* tablets */

@media (min-width: 768px) {
 	#features .feature {
		padding-top:50px;
		padding-bottom:50px;
		
		a {
    	width:130px;
    	border-top:solid $theme-black 4px;
			border-bottom: solid $theme-black 4px;
  	}
	}
	
	
	#homesplash h3 {
		font-size: 2.4em;
	}
	
	#linkGroups .linkGroup h3 {
		font-size:2.8em;
		border-bottom: solid $theme-black 4px;
	}
}


/* large tablets and desktop */

@media (min-width: 992px) {
	#features .feature {
		padding-top:75px;
		padding-bottom:75px;
		
		a {
			font-size: 4.5em;
			width:200px;
			padding-top:28px;
			padding-bottom:28px;
			border-top:solid $theme-black 4px;
			border-bottom: solid $theme-black 4px;
		}
	}


	#homesplash h3 {
		font-size: 3em;
	}
	
	#linkGroups .linkGroup h3 {
		font-size:3em;
		border-bottom: solid $theme-black 4px;
	}
}

footer {
	background:$theme-black;
	font-size:1.4em;
	height:51px;
	color:$theme-white;
	padding-left:15px;
	padding-top:15px;
}

#close-video {
	font-family: 'helvetica';
}
