@import 'shared';

.bigapps-title {
  @extend .stylish-title;
}

.bigapps {
  h3 {
    padding-left: 20px;
  }

  p {
    text-indent: 40px;

    &:last-child,
    &:nth-last-child(2){
      text-indent: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}