@import 'shared';

.resources {
  background-color: #C8DCE0;
  width: 100%;

  .container {
    float: none;
  }

  .resources-bullets {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
  }

  .resources-title {
    @extend .stylish-title;
    width: 100%;
    margin: 40px auto 0 auto;
  }

  .resources-top{
    width: 80%;
    margin: 0 auto;
  }

  .boroughs {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4em;
    padding: 0;
    border-bottom: 4px solid #000;
  
  }

  .boroughs li {
    display: inline-block;
    width: 15%;
    text-align: center;
    line-height: 3.4em;
    margin-top: 0;
  }

  .boroughs li:hover {
    color: #fff;
    cursor: pointer;
  }

  /* every link within links */
  .resources-links div ul li {
    list-style-type: none;

    a {
      width: auto;
      font-size: 1em;      
    }
  }

  .resources-links {
    min-height: 390px;
  }

  /* MC form */
  .validate {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;

    h2 {
      font-size: 2em;
    }
  }


  #resources-signup {
    width: 100%;
  	background:#fff; 
  	clear:left; 
  	font:10px Helvetica,Arial,sans-serif;
  	margin-top: 10px;
  	padding-top: 2px;

    h2.resources-title {
      margin-top: -2px;
      text-align: center;
    }
  }

  .mc-field-group {
    margin: 0 auto;
    padding-top: 15px;

    label {
      font-size: 1.65em;
      display: block;
      text-align: center;
    }
    input {
      width: 100%;
      height: 33px;
      display: block;
      margin: 0 auto 25px;
      border: 4px solid #000;
    }
  }

  .input-group {
    margin: 0 auto;
    background-color: #d6d6d6;
    border-radius: 4px;
  }

  .input-group ul li {
    list-style-type: none;


    input {
      float: left;
      margin-left: 5%;

    }
  }

  .wo-heat {
    width: 61%;
    margin: 14px auto 15px auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .resources-links a {
    text-align: center;
    display: block;
  }


  .resources-manhattan, .resources-bronx, .resources-brooklyn, .resources-queens, .resources-statenisland {
    display:none;
  }

  /* MailChimp Form Embed Code - Classic - 08/17/2011 */
  p {
    font-size: 1.5em;

  }

  p {
    text-align: center;
  }
  li {
    text-align: left;
  }

  h3 {
    text-align: center;
    font-family: Oswald;
  }

  h4 {
    text-align: center;
  }

  li {
    font-size: 1.3em;
  }
  a {
  	font-size: 14px;
  }

  input.button {
    width: 200px;
    display: block;
    height: 40px;
    background-color: #517c85;
    margin: 5% auto;
    border-radius: 4px;
    color: #ccc;
    font-size: 15px;
    border: none;
    line-height: 0;
  }
  input.button:hover {
    color: #fff;
  }
  label {
    padding-left: 10px;
  }
}

/* Mobile */

@media (max-width: $screen-xs-max) {
  .resources {
    p {
      font-size: 18px;
      line-height: 21px;
    }
  }
}

