@import 'shared';

.settings-form {
	background: $theme-grey;
}

.settings-header {
	width: 100%;
}

.settings-title {
	border-bottom: 4px solid $theme-black;
	padding-left: 0;
	padding-right: 0;
	h1 {
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'Oswald';
		font-size: 24px;
		padding-bottom: 10px;
	}	
}

.settings-form-control.form-control {
	border: 4px solid $theme-black;	
	border-radius: 0;
	height: 50px;
}

.settings-form-control.form-control:focus {
	border: 4px solid $theme-black;	
	box-shadow: none;
}

.settings-input:first-child {
	margin-top: 30px;
}

.settings-input label {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
}

#edit_user dl label {
	font-size: 18px;
	font-weight: normal;
}

html body.body main div#form-id.col-md-4 form#edit_user.edit_user dl label {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
}

.btn-save {
	height: 50px;
	width: 40%;
	margin: 10px 0 50px 0;
	border-radius: none;
	border: 4px solid $theme-black;
	font-size: 14px;
	background-color: white;
}

.btn-save:hover {
	background-color: $theme-black;
	color: $theme-grey;
}

.btn-delete {
	@extend .btn-save;
	width: 40% !important;
}

.save-or-delete {
	padding: 0;
	margin: 0;
}

.settings-permissions > select {
	margin-left: 22px;
	border: 3px solid #000;
}

@media(max-width: 768px){
	.btn-save {
		width: 50%;
	}
	.save-or-delete {
		display: block !important;
	}
}

/* cancel my account btn */
dl:nth-child(9) > div {
	display: inline;
	margin-left: 4%;
}