@import 'shared';

.settings-header {
	width: 100%;
}

.settings-title {
	border-bottom: 4px solid $theme-black;
	padding-left: 0;
	padding-right: 0;
	h1 {
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'Oswald';
		font-size: 24px;
		padding-bottom: 10px;
	}	
}

.settings-form-fields {
	dl {
		margin-bottom: 10px;

		&:first-child {
			margin-top: 30px;
		}
	}

	label {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: normal;
	}

	.form-control {
		border: 3px solid $theme-black;
		border-radius: 0;
		height: 50px;

		&.short-field {
			width: 40%;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.label-tip {
		font-size: 1.4em
	}
}

#edit_user dl label {
	font-size: 18px;
	font-weight: normal;
}

.auxiliary-form {
	margin-top: 40px;
}

html body.body main div#form-id.col-md-4 form#edit_user.edit_user dl label {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
}

.btn-save {
	height: 50px;
	width: 40%;
	margin: 10px 0 10px 0;
	border-radius: 0;
	border: 3px solid $theme-black;
	font-size: 14px;
	background-color: white;
}

.btn-save:hover {
	background-color: $theme-black;
	color: $theme-white;
}

.btn-delete {
	@extend .btn-save;
	width: 40% !important;
}

.save-or-delete {
	padding: 0;
	margin: 0;
}

.settings-permissions > select {
	margin-left: 22px;
	border: 3px solid #000;
}

@media(max-width: 768px){
	.btn-save {
		width: 50%;
	}
	.save-or-delete {
		display: block !important;
	}
}

/* cancel my account btn */
dl:nth-child(9) > div {
	display: inline;
	margin-left: 4%;
}