$screen-xs-width: auto;
$screen-sm-width: 750px;
$screen-md-width: 970px;
$screen-lg-width: 1170px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;

$theme-red: #FB500B;

$theme-red-darken-1: #D04209;
$theme-red-darken-2: #A63507;
$theme-red-darken-3: #7B2705;

$theme-red-lighten-1: #F98556;
$theme-red-lighten-2: #F6BAA2;
$theme-red-lighten-3: #F4EFED;

$theme-red-blue-1: #E27A4E;
$theme-red-blue-2: #C8A391;
$theme-red-blue-3: #AFCDD4;

$theme-orange: #FF9A33;

$theme-orange-darken-1: #D48737;
$theme-orange-darken-2: #AA733C;
$theme-orange-darken-3: #7F6040;

$theme-orange-lighten-1: #FDB873;
$theme-orange-lighten-2: #FBD7B2;
$theme-orange-lighten-3: #F9F5F2;

$theme-orange-red-1: #FE8126;
$theme-orange-red-2: #FC6918;
$theme-orange-red-3: #7B2705;

$theme-blue: #AFCDD4;

$theme-blue-darken-1: #83A2AA;
$theme-blue-darken-2: #58787F;
$theme-blue-darken-3: #2C4D55;

$theme-blue-lighten-1: #C8DCE0;
$theme-blue-lighten-2: #E0EAED;
$theme-blue-lighten-3: #F9F9F9;

$theme-blue-orange-1: #CABC9E;
$theme-blue-orange-2: #E4AB69;
$theme-blue-orange-3: #FF9A33;

$theme-black: #252729;

$theme-black-lighten-3: #7F8081;
$theme-black-lighten-2: #616364;
$theme-black-lighten-1: #434547;

$theme-grey: #9D9E9F;

$theme-grey-lighten-1: #BBBCBC;
$theme-grey-lighten-2: #D9D9DA;
$theme-grey-lighten-3: #F7F7F7;

$theme-white: #F7F7F7;

$theme-black-blue-1: #535F62;
$theme-black-blue-2: #81969B;
$theme-black-blue-3: #AFCDD4;

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

.stylish-title {
  border-top: 4px solid $theme-black;
  border-bottom: 4px solid $theme-black;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 36px;
  font-family: Oswald;
  text-align: center;
  padding: 5px;
  line-height: 50px;
  text-transform: uppercase;
  
  @media (max-width: 768px) {
    font-size: 23px;
    line-height: 37px;
  }
}

html, body {
  height: 100%;
}

main {
  padding-bottom: 51px;
  overflow: auto;
  min-height: 100%;
}

footer {
  position: relative;
  margin-top: -51px;
  height: 51px;
  clear: both;
}