@import 'shared';

.sponsors-title,
.partners-title {
  @extend .stylish-title;
}

#sponsors-page {
  margin-bottom: 70px;

  .bbp-logo,
  .palante-logo,
  .ujc-logo,
  .pacc-logo,
  .casa-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
  }

  .bbp-logo {
    background-image: image-url("logo-bbp.png");
  }

  .palante-logo {
    background-image: image-url("logo-palante.png");
  }

  .ujc-logo {
    background-image: image-url("logo-ujc.png");
  }

  .pacc-logo {
    background-image: image-url("logo-pacc.png");
  }

  .casa-logo {
    background-image: image-url("logo-casa.png");
  }

  .betanyc {
    background: image-url("betanyc_logo_hover.jpg") no-repeat;
  }

  .flatiron {
    background: image-url("flatiron_logo_hover_100px.png") no-repeat;
  }

  .pdm {
    background: image-url("pdm_logo_hover_100px.png") no-repeat;
  }

  .sparkfun {
    background: image-url("sparkfun_logo_hover.jpg") no-repeat;
  }

  .bielecki {
    background: image-url("bielecki_logo_hover.png") no-repeat;
    background-position-y: 50px;
  }

  .mapbox {
    background: image-url("mapbox_logo_hover.png") no-repeat;
  }

  .logo-buttons {
    background-size: 100%;
  }

  .partner {
    font-size: 2em;
    text-align: center;

    a {
      @media (max-width: $screen-xs-max) {
        background-position: center;
      }
    }
  }
}
