@import 'shared';

.sponsors-title,
.partners-title {
  @extend .stylish-title;
}

#sponsors-page {
  margin-bottom: 70px;

  .betanyc {
    background: image-url("betanyc_logo_hover.jpg") no-repeat;
  }

  .casa {
    background: image-url("casa_logo_hover.png") no-repeat;
  }

  .flatiron {
    background: image-url("flatiron_logo_hover_100px.png") no-repeat;
  }

  .pdm {
    background: image-url("pdm_logo_hover_100px.png") no-repeat;
  }

  .sparkfun {
    background: image-url("sparkfun_logo_hover.jpg") no-repeat;
  }

  .logo-buttons {
    background-size: 100%;
  }
  
  .partner {
    font-size: 2em;
    text-align: center;
    
    a {
      @media (max-width: $screen-xs-max) {
        background-position: center;
      }
    }
  }
}
