.graph {
  float: left;
  width: 100%;
}

#table {
  float: right;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.table-border-fix {
  border-bottom: 3px solid #ddd;
  border-top: 3px solid #ddd;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 700px) {
  #bar {
    width: 55%;
  }
  #table {
    width: 45%;
    height: 300px;
  }

  .table-border-fix {
    border-color: #fff;
  }

  .table > thead > tr > th, 
  .table > tbody > tr > td, {
    padding: 25px 0px;
  }
}