.graph {
  float: left;
  width: 100%;
}

#table {
  float: right;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

@media only screen and (min-width: 700px) {
  #bar {
    width: 50%;
  }
  #table {
    width: 50%;
    height: 300px;
    border-color: #fff;
  }
  .table{
    width: 96%
  }
  .table > thead > tr > th, 
  .table > tbody > tr > td, {
    padding: 40px 0px;
  }
}