@import 'shared';
.show-layout {
  margin: 0;
  width: 100%;
  #line {
    margin-bottom: 80px;
    border-bottom: solid 3px $theme-black;
    padding-bottom: 30px;
  }

  .show-top {
    padding-top: 15px;
    padding-bottom: 45px;
    background: $theme-blue;
    text-align: center;
    text-transform: uppercase;
    font-family: Oswald;

    @media (min-width: 768px) {
      padding-top: 0;
      padding-bottom: 30px;
    }

    .current-temp, .violations {
      min-width: 260px;
    }
    
    .stat-num {
      font-size: 133px;
      border-bottom: solid 3px $theme-black;
      &.temp-num{
        padding-left: 22px;
      }
    }


    .stat-description {
      font-size: 32px;
      font-family: 'Source Sans Pro';

      &.violation-label {
        line-height: 0.4em;
      }
    }

    .contact-info {
      margin-top: 10px;

      h4 {
        font-size: 1em;
        font-family: 'Source Sans Pro';
        line-height: 0.5;
        text-align: left;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }

    h3 {
      font-weight: bold;
    }
  }

  .user-info-mobile {
    @media (min-width: 768px) {
      display: none;
    }

    .back-button {
      font-size: 4em;
      padding-top: 20px;

      a:hover, a:active {
        text-decoration: none;
      }
    }
  }

  .user-info-desktop {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .btn.btn-primary.btn-download {
    background: inherit;
    border: solid 3px $theme-black;
    border-radius: 0;
    margin: 10px;
    color: $theme-black;
    font-family: 'Oswald';
    margin-top: 30px;
    margin-bottom: 30px;

    &:hover {
      color: $theme-white;
      background-color: $theme-black;
    }
    
    @media (min-width: 768px) {
      float: right;
      margin: 20px 0 10px 0;
    }
  }

  div.upper-bar {
    border-top: solid 3px $theme-black;
    border-bottom: solid 3px $theme-black;
    @media (min-width: 768px) {
      border-top: none;
    }
      
    .user-info {
      @media (min-width: 768px) {
        float: left;
        display: table;
      }
    }

    .back-button {
      display: table-cell;
      font-size: 3.5em;
      vertical-align: middle;
      padding-right: 7px;

      a:hover, a:active {
        text-decoration: none;
      }
    }

    .tenant-info {
      display: table-cell;
      vertical-align: middle;

      h3 {
        margin-top: 10px;
      }
    }
  }

  .chart-title {
    padding-top: 1em;

    h3 {
      margin-bottom: 0;
    }
  }
}
