@import 'shared';

.tenant-show-container{
  background-color: $theme-blue;
}

.back-button {
  color: $theme-red;
  padding: 15px 0px 0px 15px;
  font-size: 14px;

  a:hover {
    color: $theme-red;
  }
}

.user-info-desktop {
  font-family: "Source Sans Pro";
  @media (max-width: 767px) {
    display: none;
  }
  h1 {
    font-family: Oswald;
    font-size: 38px;
    font-weight: 600;
    margin-top: 10px;
  }
  h2 {
    font-size: 20px;
    margin: 0;
  }
}

.user-info-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.download-container {
  text-transform: uppercase;
  font-weight: bold;

  @media (min-width: 768px) {
    float: right;
  }

  @media (max-width: 767px) {
    display: block;
  }

  .download-label {
    font-family: 'Oswald';
    font-size: 1.4em;
    margin: 10px 0 0 0;
  }

  .btn-download {
    background: inherit;
    border: solid 3px $theme-black;
    border-radius: 0;
    color: $theme-black;
    font-family: 'Oswald';
    margin: 5px;
    font-weight: bold;

    &:hover {
      color: $theme-white;
      background-color: $theme-black;
    }
  }
}

.back-button-mobile {
  color: $theme-orange;
  display: table-cell;
  font-size: 3.5em;
  vertical-align: middle;
  padding-right: 7px;

  a, a:hover, a:active, a:visited {
    color: $theme-orange;
  }
}

.show-layout {
  margin: 0;
  width: 100%;
  #line {
    margin-bottom: 80px;
    border-bottom: solid 3px $theme-black;
    padding-bottom: 30px;
  }

  .show-top {
    padding-top: 15px;
    padding-bottom: 45px;
    text-align: center;
    font-family: Oswald;

    @media (min-width: 768px) {
      padding-top: 0;
      padding-bottom: 30px;
    }

    .current-temp, .violations {
      min-width: 260px;
    }
    
    .stat-num {
      font-size: 133px;
      border-bottom: solid 3px $theme-black;
      &.temp-num{
        padding-left: 22px;
      }
    }


    .stat-description {
      font-size: 32px;
      font-family: 'Source Sans Pro';

      &.violation-label {
        line-height: 0.4em;
      }
    }

    .contact-info {
      margin-top: 10px;

      h4 {
        font-size: 1em;
        font-family: 'Source Sans Pro';
        line-height: 0.5;
        text-align: left;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }

    h3 {
      font-weight: bold;
    }
  }

  .user-info-mobile {
    .back-button {
      font-size: 4em;
      padding-top: 20px;

      a:hover, a:active {
        text-decoration: none;
      }
    }
  }

  div.upper-bar {
    border-top: solid 3px $theme-black;
    border-bottom: solid 3px $theme-black;
    @media (min-width: 768px) {
      border-top: none;
    }
      
    .user-info {
      @media (min-width: 768px) {
        float: left;
        display: table;
      }
    }


    .tenant-info {
      display: table-cell;
      vertical-align: middle;

      h3 {
        margin-top: 10px;
      }
    }
  }

  .chart-title {
    padding-top: 1em;

    h3 {
      margin-bottom: 0;
      font-size: 28px;
      font-weight: bold;
    }
  }
}
