@import 'shared';


.column-0,
.column-1 {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
}

.column-0 ul li,
.column-1 ul li {
	text-align: center;
	list-style-type: none;
	font-size: 1.7em;
}