@import 'shared';

.angels,
.backers {
	background-color: #C8DCE0;
}

.thanks-angels,
.thanks-backers {
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-bottom: 4em;
	margin-top: 2em;
	border-bottom: 4px solid #000;
	border-top: 4px solid #000;
	text-align: center;
}

.thanks-angels p,
.thanks-backers p {
	font-size: 1.75em;
}

.column-1,
.column-2,
.column-3 {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
}

.column-1 ul,
.column-2 ul,
.column-3 ul {
	padding: 0;
}

.column-1 ul li,
.column-2 ul li,
.column-3 ul li,
.mobile-columns ul li {	
	text-align: center;
	list-style-type: none;
	font-size: 1.7em;
}

.intro {
	width: 75%;
	display: block;
	margin: 0 auto;
	margin-bottom: 25px; 
}

.intro p {
	text-align: center;
	font-size: 2.25em;
}

.backer-type li {
	display: inline-block;
	text-align: center;
	color: #fb500b;
	font-size: 2em;
	width: 49%;
}

/* Mobile columns */
.mobile-columns {
	display: none;
	width: 100%;
}

#backers-thankyou .mobile-columns > ul li {
	font-size: 2.6em;
}


@media (max-width: 767px) {
	.desktop-columns {
		display: none;
	}

	.mobile-columns {
		display: block;
	}

	.mobile-columns ul li {
		font-size: 1.5em;
	}
}
	