@import 'shared';

.user-index-container {
  h1 {
    margin-bottom: 20px ;
  }
  thead th {
    font-size: 18px;
    font-weight: bold;
  }
  .table-container {
    padding: 40px;
  }
  table .fa {
    color: $theme-orange;
    padding-right: 5px;
  }
  table .red {
    color: $theme-red;
  }
}