.search-box{
  margin-top: 20px;
}

#search-button {
  float: right;
  width: 31%;
  padding: 4px 12px;
  border-radius: 4px;
}

#q {
  width: 68%;
  float: left;
}

// if future changes make sure media only matches the collaboration_sidebar.css.scss
@media only screen and (min-width: 450px) {
  .search-box {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 900px) {
  #permissions-show-div {
    padding: 0 20%;
  }
}