.user-link {
  font-size: 18px;
}

.underline-user {
  background-color: rgba(0,0,0,0.07);
  border-width: 0;
  color: rgba(0,0,0,0.07);
  height: 1px;
  width: 100%;
  margin: 0 -8px 16px -8px;
}

a.add-user-link:hover {
  text-decoration: none;
}

a.add-user-link {
  float: right;
  position: relative;
  left: -5%;
  color: #5cb85c; 
}

a.add-user-link:hover {
  color: #47a447;
}