#demo-user-btn {
  background-color: #5D35CC;
  border-color: #5A4499;
}

#demo-user-btn:hover {
  background-color: #452897;
  border-color: #301185;
}

#demo-lawyer-btn {
  background-color: #428bca;
  border-color: #357ebd;
}

#demo-lawyer-btn:hover {
  background-color: #3276b1;
  border-color: #285e8e;
}

@media only screen and (max-width: 355px) {
  #demo-user-btn {
    font-size: 14px;
  }
  #demo-lawyer-btn{
    font-size: 14px;
  }
}


#demo-logout-btn {
  position: absolute;
  top: 0px;
  background-color: #BF1F15;
  border-color: #8F3430;
}

#demo-logout-btn:hover {
  background-color: #7F150E;
  border-color: #7C0D07;
}

#demo-logout-btn-link:hover {
  text-decoration: none !important;
}