@import 'shared';
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


  #city-background {
    width: 100%;
    position: absolute;
  }
  #overlay-title {
    color: #fff;
    z-index: 5;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
   }
   #overlay-description{
    color: #fff;
    max-width: 650px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
   }
   #overlay {
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-image: url("city-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
/*    -moz-transition: 2s ease-out;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;*/
   }
   #overlay-email-link{
    color: $theme-red;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
   }

   #overlay-arrow-text{
  margin-top: 290px;
  text-align: center;
  color: $theme-red-blue-3;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
   }
   #link-span{
    border-bottom: $theme-red 3px solid;
   }
   #testimonials{
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 78%;
    top: 51%;
    font-size: 12px;
    cursor: pointer;
   }
   #testimonial-span{
    border: #fff solid 1px;
  border-radius: 10px;
      padding: 10px;
   }
   #testimonials:after{
    content: url("line.svg");
    position: absolute;
    left: -77px;
    top: 0px;
    z-index: 10;
    width: 100px;
   }
   #overlay-down-arrow{
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    width: 40px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    color: $theme-red-blue-3;
    text-align: center;
    background-image: url("down-arrow.svg");
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
   }

   /* Mobile */

@media (max-width: $screen-xs-max) {
  #overlay-description{
    font-size: 14px;
    padding: 10px;
  }
  #overlay-title{
    font-size: 26px;
    padding: 10px; 
  }
  #testimonials {
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      position: static;
      cursor: pointer;
      text-align: center;
      padding-top: 12px;
      margin-top: 20px;
  }
  #testimonials:after{
    opacity: 0;
   }
  #testimonial-span{
    padding: 5px;
  }
  #overlay-down-arrow{
    margin-top: 20px;
  }
  #overlay-arrow-text {
    margin-top: 40px;
  }

}


   /* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

#homesplash{
  margin-top: 195px; 
}

