<div class="col-md-1"></div>
<div id="coldmap" class="col-xs-12 col-md-10">
  <h1>The Cold Map (Beta)</h1>
  <p>The Cold Map (Beta) uses 311 data collected by the City of New York to illustrate the number of heating complaints received during the most recent heating season (10.1.13 through 5.31.14), broken down by zip code.</p>
  <p>Future versions of the Cold Map will incorporate Heat Seek NYC sensor data and will enable tenants, landlords, advocacy groups, and government organizations to dig into the figures that are most relevant to them.</p>
  <div id="map"></div>
</div>
<script type="text/javascript">

</script>

<%= render partial: 'layouts/footer_elements' %>