<div class="bg-blue">
  <div class="container">
    <div class="row">
      <h1 class="styled-header col-md-6">Calibrations</h1>
    </div>

    <%= render "list", calibrations: @calibrations %>
  </div>
</div>
