{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20150220/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.416"], "Last-Modified":["Wed, 20 Jan 2016 20:57:29 GMT"], "Cneonction":["close"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"17\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:51 AM EST on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:51 AM GMT on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"-14.4\", \"tempi\":\"6.1\",\"dewptm\":\"-26.1\", \"dewpti\":\"-15.0\",\"hum\":\"38\",\"wspdm\":\"20.4\", \"wspdi\":\"12.7\",\"wgustm\":\"38.9\", \"wgusti\":\"24.2\",\"wdird\":\"280\",\"wdire\":\"West\",\"vism\":\"16.1\", \"visi\":\"10.0\",\"pressurem\":\"1016.8\", \"pressurei\":\"30.03\",\"windchillm\":\"-23.5\", \"windchilli\":\"-10.2\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"-9999.00\", \"precipi\":\"-9999.00\",\"conds\":\"Clear\",\"icon\":\"clear\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR KNYC 200551Z AUTO 28011G21KT 10SM CLR M14/M26 A3004 RMK AO2 SLP168 T11441261 11100 21144 $\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"1:51 AM EST on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour\": \"01\",\n\t\t\"min\": \"51\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"6:51 AM GMT on February 20, 2015\",\n\t\t\"year\": \"2015\",\n\t\t\"mon\": \"02\",\n\t\t\"mday\": \"20\",\n\t\t\"hour[...]
