{
    "http_interactions": [
        {
            "recorded_at": "Sun, 01 Mar 2015 17:00:00 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                },
                "method": "get",
                "uri": "http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/history_20150220/q/knyc.json"
            },
            "response": {
                "body": {
                    "encoding": "UTF-8",
                    "string": "\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": english,\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"history\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"Central Park\",\n\t\t\"neighborhood\":\"Central Park\",\n\t\t\"city\": \"Central Park\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10106\",\n\t\t\"magic\":\"4\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"okx\",\n\t\t\"latitude\":40.77000046,\n\t\t\"longitude\":-73.98000336,\n\t\t\"elevation\":null,\n\t\t\"l\": \"/q/zmw:10106.4.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454120589,\n\t\"pretty\": \"9:23 PM EST on January 29, 2016\",\n\t\"rfc822\": \"Fri, 29 Jan 2016 21:23:09 -0500\",\n\t\"iso8601\": \"2016-01-29T21:23:09-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 29,\n\t\"yday\": 28,\n\t\"hour\": 21,\n\t\"min\": \"23\",\n\t\"sec\": 9,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\"history\": {\n\t\"start_date\": {\n\t\"epoch\": 1424451600,\n\t\"pretty\": \"12:00 PM EST on February 20, 2015\",\n\t\"rfc822\": \"Fri, 20 Feb 2015 12:00:00 -0500\",\n\t\"iso8601\": \"2015-02-20T12:00:00-0500\",\n\t\"year\": 2015,\n\t\"month\": 2,\n\t\"day\": 20,\n\t\"yday\": 50,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"February\",\n\t\"monthname_short\": \"Feb\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\"end_date\": {\n\t\"epoch\": null,\n\t\"pretty\": null,\n\t\"rfc822\": null,\n\t\"iso8601\": null,\n\t\"year\": null,\n\t\"month\": null,\n\t\"day\": null,\n\t\"yday\": null,\n\t\"hour\": null,\n\t\"min\": null,\n\t\"sec\": null,\n\t\"monthname\": null,\n\t\"monthname_short\": null,\n\t\"weekday\": null,\n\t\"weekday_short\": null,\n\t\"ampm\": null,\n\t\"tz_short\": null,\n\t\"tz_long\": null,\n\t\"tz_offset_text\": null,\n\t\"tz_offset_hours\": null\n},\n\t\"days\": [\n\t\t{\n\t\t\"summary\": {\n\t\t\"date\": {\n\t\"epoch\": 1424451600,\n\t\"pretty\": \"12:00 PM EST on February 20, 2015\",\n\t\"rfc822\": \"Fri, 20 Feb 2015 12:00:00 -0500\",\n\t\"iso8601\": \"2015-02-20T12:00:00-0500\",\n\t\"year\": 2015,\n\t\"month\": 2,\n\t\"day\": 20,\n\t\"yday\": 50,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"February\",\n\t\"monthname_short\": \"Feb\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 11,\n\t\"dewpoint\": -10,\n\t\"pressure\": 30.25,\n\t\"wind_speed\": 10,\n\t\"wind_dir\": null,\n\t\"wind_dir_degrees\": null,\n\t\"visibility\": 10,\n\t\"humidity\": null,\n\t\"max_temperature\": 19,\n\t\"min_temperature\": 2,\n\t\"max_humidity\": 44,\n\t\"min_humidity\": 33,\n\t\"max_dewpoint\": -5,\n\t\"min_dewpoint\": -16,\n\t\"max_pressure\": 30.49,\n\t\"min_pressure\": 30.03,\n\t\"max_wind_speed\": 22,\n\t\"min_wind_speed\": 4,\n\t\"max_visibility\": 10,\n\t\"min_visibility\": 10,\n\t\"fog\": 0,\n\t\"hail\": 0,\n\t\"snow\": 0,\n\t\"rain\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"snowfall\": 0.00,\n\t\"monthtodatesnowfall\": 7.90,\n\t\"since1julsnowfall\": 24.40,\n\t\"snowdepth\": 9.00,\n\t\"precip\": 0.00,\n\t\"precipsource\": null,\n\t\"gdegreedays\": 0,\n\t\"heatingdegreedays\": 54,\n\t\"coolingdegreedays\": 0,\n\t\"heatingdegreedaysnormal\": 29,\n\t\"monthtodateheatingdegreedays\": 822,\n\t\"monthtodateheatingdegreedaysnormal\": 609,\n\t\"since1sepheatingdegreedays\": null,\n\t\"since1sepheatingdegreedaysnormal\": null,\n\t\"since1julheatingdegreedays\": 3438,\n\t\"since1julheatingdegreedaysnormal\": 3298,\n\t\"coolingdegreedaysnormal\": 0,\n\t\"monthtodatecoolingdegreedays\": 0,\n\t\"monthtodatecoolingdegreedaysnormal\": 0,\n\t\"since1sepcoolingdegreedays\": null,\n\t\"since1sepcoolingdegreedaysnormal\": null,\n\t\"since1jancoolingdegreedays\": 0,\n\t\"since1jancoolingdegreedaysnormal\": 0\n,\n\t\t\"avgoktas\": 0,\n\t\t\"icon\": \"clear\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1424411460,\n\t\"iso8601\": \"2015-02-20T00:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 6.1,\n\t\"dewpoint\": -15.0,\n\t\"humidity\": 38,\n\t\"wind_speed\": 12.7,\n\t\"wind_gust_speed\": 24.2,\n\t\"wind_dir_degrees\": 280,\n\t\"wind_dir\": \"West\",\n\t\"visibility\": 10.0,\n\t\"pressure\": 30.03,\n\t\"windchill\": -10.2,\n\t\"heatindex\": null,\n\t\"precip\": null,\n\t\"conditions\": \"Clear\",\n\t\"icon\": \"clear\",\n\t\"fog\": 0,\n\t\"rain\": 0,\n\t\"snow\": 0,\n\t\"hail\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"metar\": \"METAR KNYC 200551Z AUTO 28011G21KT 10SM CLR M14/M26 A3004 RMK AO2 SLP168 T11441261 11100 21144 $\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1424415060,\n\t\"iso8601\": \"2015-02-20T01:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 5.0,\n\t\"dewpoint\": -16.1,\n\t\"humidity\": 37,\n\t\"wind_speed\": 10.4,\n\t\"wind_gust_speed\": 23.0,\n\t\"wind_dir_degrees\": 280,\n\t\"wind_dir\": \"West\",\n\t\"visibility\": 10.0,\n\t\"pressure\": 30.04,\n\t\"windchill\": -10[...]
