{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/history_20150301/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.196"], "Last-Modified":["Fri, 29 Jan 2016 04:33:10 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"history\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"Central Park\",\n\t\t\"neighborhood\":\"Central Park\",\n\t\t\"city\": \"Central Park\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10106\",\n\t\t\"magic\":\"4\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"okx\",\n\t\t\"latitude\":40.77000046,\n\t\t\"longitude\":-73.98000336,\n\t\t\"elevation\":null,\n\t\t\"l\": \"/q/zmw:10106.4.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454041990,\n\t\"pretty\": \"11:33 PM EST on January 28, 2016\",\n\t\"rfc822\": \"Thu, 28 Jan 2016 23:33:10 -0500\",\n\t\"iso8601\": \"2016-01-28T23:33:10-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 28,\n\t\"yday\": 27,\n\t\"hour\": 23,\n\t\"min\": \"33\",\n\t\"sec\": 10,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Thursday\",\n\t\"weekday_short\": \"Thu\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\"history\": {\n\t\"start_date\": {\n\t\"epoch\": 1425229200,\n\t\"pretty\": \"12:00 PM EST on March 01, 2015\",\n\t\"rfc822\": \"Sun, 01 Mar 2015 12:00:00 -0500\",\n\t\"iso8601\": \"2015-03-01T12:00:00-0500\",\n\t\"year\": 2015,\n\t\"month\": 3,\n\t\"day\": 1,\n\t\"yday\": 59,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"March\",\n\t\"monthname_short\": \"Mar\",\n\t\"weekday\": \"Sunday\",\n\t\"weekday_short\": \"Sun\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\"end_date\": {\n\t\"epoch\": null,\n\t\"pretty\": null,\n\t\"rfc822\": null,\n\t\"iso8601\": null,\n\t\"year\": null,\n\t\"month\": null,\n\t\"day\": null,\n\t\"yday\": null,\n\t\"hour\": null,\n\t\"min\": null,\n\t\"sec\": null,\n\t\"monthname\": null,\n\t\"monthname_short\": null,\n\t\"weekday\": null,\n\t\"weekday_short\": null,\n\t\"ampm\": null,\n\t\"tz_short\": null,\n\t\"tz_long\": null,\n\t\"tz_offset_text\": null,\n\t\"tz_offset_hours\": null\n},\n\t\"days\": [\n\t\t{\n\t\t\"summary\": {\n\t\t\"date\": {\n\t\"epoch\": 1425229200,\n\t\"pretty\": \"12:00 PM EST on March 01, 2015\",\n\t\"rfc822\": \"Sun, 01 Mar 2015 12:00:00 -0500\",\n\t\"iso8601\": \"2015-03-01T12:00:00-0500\",\n\t\"year\": 2015,\n\t\"month\": 3,\n\t\"day\": 1,\n\t\"yday\": 59,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"March\",\n\t\"monthname_short\": \"Mar\",\n\t\"weekday\": \"Sunday\",\n\t\"weekday_short\": \"Sun\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 28,\n\t\"dewpoint\": 16,\n\t\"pressure\": 30.44,\n\t\"wind_speed\": 2,\n\t\"wind_dir\": null,\n\t\"wind_dir_degrees\": null,\n\t\"visibility\": 4,\n\t\"humidity\": null,\n\t\"max_temperature\": 31,\n\t\"min_temperature\": 24,\n\t\"max_humidity\": 84,\n\t\"min_humidity\": 28,\n\t\"max_dewpoint\": 23,\n\t\"min_dewpoint\": -1,\n\t\"max_pressure\": 30.71,\n\t\"min_pressure\": 30.14,\n\t\"max_wind_speed\": 15,\n\t\"min_wind_speed\": 0,\n\t\"max_visibility\": 10,\n\t\"min_visibility\": 0,\n\t\"fog\": 1,\n\t\"hail\": 0,\n\t\"snow\": 1,\n\t\"rain\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"snowfall\": 4.80,\n\t\"monthtodatesnowfall\": 4.80,\n\t\"since1julsnowfall\": 33.20,\n\t\"snowdepth\": 10.00,\n\t\"precip\": 0.52,\n\t\"precipsource\": null,\n\t\"gdegreedays\": 0,\n\t\"heatingdegreedays\": 37,\n\t\"coolingdegreedays\": 0,\n\t\"heatingdegreedaysnormal\": 27,\n\t\"monthtodateheatingdegreedays\": 37,\n\t\"monthtodateheatingdegreedaysnormal\": 27,\n\t\"since1sepheatingdegreedays\": null,\n\t\"since1sepheatingdegreedaysnormal\": null,\n\t\"since1julheatingdegreedays\": 3796,\n\t\"since1julheatingdegreedaysnormal\": 3549,\n\t\"coolingdegreedaysnormal\": 0,\n\t\"monthtodatecoolingdegreedays\": 0,\n\t\"monthtodatecoolingdegreedaysnormal\": 0,\n\t\"since1sepcoolingdegreedays\": null,\n\t\"since1sepcoolingdegreedaysnormal\": null,\n\t\"since1jancoolingdegreedays\": 0,\n\t\"since1jancoolingdegreedaysnormal\": 0\n,\n\t\t\"avgoktas\": 7,\n\t\t\"icon\": \"snow\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1425189060,\n\t\"iso8601\": \"2015-03-01T00:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 26.1,\n\t\"dewpoint\": -0.9,\n\t\"humidity\": 31,\n\t\"wind_speed\": 4.6,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 280,\n\t\"wind_dir\": \"West\",\n\t\"visibility\": 10.0,\n\t\"pressure\": 30.71,\n\t\"windchill\": 20.5,\n\t\"heatindex\": null,\n\t\"precip\": null,\n\t\"conditions\": \"Clear\",\n\t\"icon\": \"clear\",\n\t\"fog\": 0,\n\t\"rain\": 0,\n\t\"snow\": 0,\n\t\"hail\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"metar\": \"METAR KNYC 010551Z AUTO 28004KT 10SM CLR M03/M18 A3073 RMK AO2 SLP399 T10331183 11022 21039 58012\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1425192660,\n\t\"iso8601\": \"2015-03-01T01:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 26.1,\n\t\"dewpoint\": -0.9,\n\t\"humidity\": 31,\n\t\"wind_speed\": 3.5,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 290,\n\t\"wind_dir\": \"WNW\",\n\t\"visibility\": 10.0,\n\t\"pressure\": 30.71,\n\t\"windchill\": 21.9[...]
