{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/conditions/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.046"], "Last-Modified":["Wed, 20 Jan 2016 20:56:58 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\": {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\": {\n\t\t\"full\":\"New York, NY\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"10004\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"40.73448181\",\n\t\t\"longitude\":\"-73.99752045\",\n\t\t\"elevation\":\"19.00000000\"\n\t\t},\n\t\t\"observation_location\": {\n\t\t\"full\":\"West Village (NYU Coles North), New York, New York\",\n\t\t\"city\":\"West Village (NYU Coles North), New York\",\n\t\t\"state\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"40.727013\",\n\t\t\"longitude\":\"-73.997246\",\n\t\t\"elevation\":\"82 ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KNYNEWYO367\",\n\t\t\"observation_time\":\"Last Updated on January 20, 3:43 PM EST\",\n\t\t\"observation_time_rfc822\":\"Wed, 20 Jan 2016 15:43:39 -0500\",\n\t\t\"observation_epoch\":\"1453322619\",\n\t\t\"local_time_rfc822\":\"Wed, 20 Jan 2016 15:56:58 -0500\",\n\t\t\"local_epoch\":\"1453323418\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Clear\",\n\t\t\"temperature_string\":\"36.9 F (2.7 C)\",\n\t\t\"temp_f\":36.9,\n\t\t\"temp_c\":2.7,\n\t\t\"relative_humidity\":\"50%\",\n\t\t\"wind_string\":\"From the ESE at 1.7 MPH\",\n\t\t\"wind_dir\":\"ESE\",\n\t\t\"wind_degrees\":112,\n\t\t\"wind_mph\":1.7,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":2.7,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1019\",\n\t\t\"pressure_in\":\"30.10\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"20 F (-7 C)\",\n\t\t\"dewpoint_f\":20,\n\t\t\"dewpoint_c\":-7,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"37 F (3 C)\",\n\t\t\"windchill_f\":\"37\",\n\t\t\"windchill_c\":\"3\",\n\t\t\"feelslike_string\":\"37 F (3 C)\",\n\t\t\"feelslike_f\":\"37\",\n\t\t\"feelslike_c\":\"3\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"0\",\"precip_1hr_string\":\"-999.00 in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"-999.00\",\n\t\t\"precip_1hr_metric\":\" 0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KNYNEWYO367\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.727013,-73.997246\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 05:00:05 GMT"}],"recorded_with":"VCR 2.9.3"}