{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/conditions/q/10004.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.058"], "Last-Modified":["Fri, 29 Jan 2016 04:33:08 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"conditions\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"New York\",\n\t\t\"neighborhood\":\"Greenwich Village\",\n\t\t\"city\": \"New York\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10004\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"dix\",\n\t\t\"latitude\":40.73448181,\n\t\t\"longitude\":-73.99752045,\n\t\t\"elevation\":62,\n\t\t\"l\": \"/q/zmw:10004.1.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454041988,\n\t\"pretty\": \"11:33 PM EST on January 28, 2016\",\n\t\"rfc822\": \"Thu, 28 Jan 2016 23:33:08 -0500\",\n\t\"iso8601\": \"2016-01-28T23:33:08-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 28,\n\t\"yday\": 27,\n\t\"hour\": 23,\n\t\"min\": \"33\",\n\t\"sec\": 8,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Thursday\",\n\t\"weekday_short\": \"Thu\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\t\"current_observation\": {\n\t\t\"source\": \"PWS\",\n\t\t\"station\": {\n\t\t\"id\":\"KNYNEWYO367\",\n\t\t\"name\":\"West Village (NYU Coles North)\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":40.727013,\n\t\t\"longitude\":-73.997246,\n\t\t\"elevation\":82\n\t\t},\n\t\t\"estimated\": null,\n\t\t\"date\": {\n\t\"epoch\": 1454040125,\n\t\"pretty\": \"11:02 PM EST on January 28, 2016\",\n\t\"rfc822\": \"Thu, 28 Jan 2016 23:02:05 -0500\",\n\t\"iso8601\": \"2016-01-28T23:02:05-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 28,\n\t\"yday\": 27,\n\t\"hour\": 23,\n\t\"min\": \"02\",\n\t\"sec\": 5,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Thursday\",\n\t\"weekday_short\": \"Thu\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"metar\": \"METAR KJRB 290415Z 26004KT 10SM OVC110 04/M04 A2970 RMK AO1\",\n\t\t\"condition\":\"Overcast\",\n\t\t\"temperature\": 39.2,\n\t\t\"humidity\":57,\n\t\t\"wind_speed\":1.7,\n\t\t\"wind_gust_speed\":null,\n\t\t\"wind_dir\":\"ESE\",\n\t\t\"wind_dir_degrees\":112,\n\t\t\"wind_dir_variable\":0,\n\t\t\"pressure\": 29.70,\n\t\t\"pressure_trend\": \"+\",\n\t\t\"pressure_tendency\": -0.006666,\n\t\t\"pressure_tendency_string\": \"Decreasing\",\n\t\t\"dewpoint\": 25,\n\t\t\"heatindex\": null,\n\t\t\"windchill\": 39,\n\t\t\"feelslike\": 39,\n\t\t\"visibility\":10.0,\n\t\t\"cloud_description\": {\n\t\t\"highest_layer\": \"OVC\",\n\t\t\"oktas\": 8,\n\t\t\"layers\": [\n\t\t{\n\t\t\"height\": 11000,\n\t\t\"height_char\": null,\n\t\t\"cover\": \"OVC\",\n\t\t\"cover_text\": \"Overcast\",\n\t\t\"oktas\": \"8\",\n\t\t\"other\": null\n\t\t}\n\t\t]\n\t\t},\n\t\t\"solarradiation\": null,\n\t\t\"uv_index\": 0,\n\t\t\"temperature_indoor\": null,\n\t\t\"humidity_indoor\": null,\n\t\t\"t1f\": null,\n\t\t\"t2f\": null,\n\t\t\"precip_1hr\":null,\n\t\t\"precip_today\":0.00,\n\t\t\"soil_temp\": null,\n\t\t\"soil_moisture\": null,\n\t\t\"leaf_wetness\": null,\n\t\t\"icon\":\"nt_cloudy\",\n\t\t\"icon_url\":\"//icons.wxug.com/i/c/v4/nt_cloudy.svg\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KNYNEWYO367\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.727013,-73.997246\",\n\t\t\"nowcast\":\"\",\n\t\t\"pollen\": null,\n\t\t\"flu\": null,\n\t\t\"ozone_index\": null,\n\t\t\"ozone_text\": null,\n\t\t\"pm_index\": null,\n\t\t\"pm_text\": null,\n\t\t\"yesterday_max_temperature\": 49.6,\n\t\t\"yesterday_min_temperature\": 36.5,\n\t\t\"yesterday_precip_total\": 0.0\n\t}\n}\n"},"http_version":null},"recorded_at":"Fri, 01 Jan 2016 05:00:00 GMT"},[...]
