{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/v:2.0/history_20160101/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.154"], "Last-Modified":["Fri, 29 Jan 2016 00:26:42 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n\t\"response\": {\n\t\t\"version\": \"2.0\",\n\t\t\"units\": \"english\",\n\t\t\"termsofService\": \"http://www.wunderground.com/weather/api/d/terms.html\",\n\t\t\"attribution\": {\n\t\t\"image\":\"//icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"features\": {\n\t\t\"history\": 1\n\t\t}\n\t\t, \"location\": {\n\t\t\"name\": \"Central Park\",\n\t\t\"neighborhood\":\"Central Park\",\n\t\t\"city\": \"Central Park\",\n\t\t\"state\": \"NY\",\n\t\t\"state_name\":\"New York\",\n\t\t\"country\": \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zip\":\"10106\",\n\t\t\"magic\":\"4\",\n\t\t\"wmo\":\"99999\",\n\t\t\"radarcode\":\"okx\",\n\t\t\"latitude\":40.77000046,\n\t\t\"longitude\":-73.98000336,\n\t\t\"elevation\":null,\n\t\t\"l\": \"/q/zmw:10106.4.99999\"\n\t\t},\n\t\t\"date\": {\n\t\"epoch\": 1454027202,\n\t\"pretty\": \"7:26 PM EST on January 28, 2016\",\n\t\"rfc822\": \"Thu, 28 Jan 2016 19:26:42 -0500\",\n\t\"iso8601\": \"2016-01-28T19:26:42-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 28,\n\t\"yday\": 27,\n\t\"hour\": 19,\n\t\"min\": \"26\",\n\t\"sec\": 42,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Thursday\",\n\t\"weekday_short\": \"Thu\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n}\n\t}\n\t\t,\n\"history\": {\n\t\"start_date\": {\n\t\"epoch\": 1451667600,\n\t\"pretty\": \"12:00 PM EST on January 01, 2016\",\n\t\"rfc822\": \"Fri, 01 Jan 2016 12:00:00 -0500\",\n\t\"iso8601\": \"2016-01-01T12:00:00-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 1,\n\t\"yday\": 0,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\"end_date\": {\n\t\"epoch\": null,\n\t\"pretty\": null,\n\t\"rfc822\": null,\n\t\"iso8601\": null,\n\t\"year\": null,\n\t\"month\": null,\n\t\"day\": null,\n\t\"yday\": null,\n\t\"hour\": null,\n\t\"min\": null,\n\t\"sec\": null,\n\t\"monthname\": null,\n\t\"monthname_short\": null,\n\t\"weekday\": null,\n\t\"weekday_short\": null,\n\t\"ampm\": null,\n\t\"tz_short\": null,\n\t\"tz_long\": null,\n\t\"tz_offset_text\": null,\n\t\"tz_offset_hours\": null\n},\n\t\"days\": [\n\t\t{\n\t\t\"summary\": {\n\t\t\"date\": {\n\t\"epoch\": 1451667600,\n\t\"pretty\": \"12:00 PM EST on January 01, 2016\",\n\t\"rfc822\": \"Fri, 01 Jan 2016 12:00:00 -0500\",\n\t\"iso8601\": \"2016-01-01T12:00:00-0500\",\n\t\"year\": 2016,\n\t\"month\": 1,\n\t\"day\": 1,\n\t\"yday\": 0,\n\t\"hour\": 12,\n\t\"min\": \"00\",\n\t\"sec\": 0,\n\t\"monthname\": \"January\",\n\t\"monthname_short\": \"Jan\",\n\t\"weekday\": \"Friday\",\n\t\"weekday_short\": \"Fri\",\n\t\"ampm\": \"PM\",\n\t\"tz_short\": \"EST\",\n\t\"tz_long\": \"America/New_York\",\n\t\"tz_offset_text\": \"-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 38,\n\t\"dewpoint\": 23,\n\t\"pressure\": 30.03,\n\t\"wind_speed\": 8,\n\t\"wind_dir\": null,\n\t\"wind_dir_degrees\": null,\n\t\"visibility\": 10,\n\t\"humidity\": null,\n\t\"max_temperature\": 42,\n\t\"min_temperature\": 34,\n\t\"max_humidity\": 59,\n\t\"min_humidity\": 44,\n\t\"max_dewpoint\": 26,\n\t\"min_dewpoint\": 16,\n\t\"max_pressure\": 30.06,\n\t\"min_pressure\": 29.97,\n\t\"max_wind_speed\": 17,\n\t\"min_wind_speed\": 0,\n\t\"max_visibility\": 10,\n\t\"min_visibility\": 10,\n\t\"fog\": 0,\n\t\"hail\": 0,\n\t\"snow\": 0,\n\t\"rain\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"snowfall\": 0.00,\n\t\"monthtodatesnowfall\": 0.00,\n\t\"since1julsnowfall\": 1e-16,\n\t\"snowdepth\": 0.00,\n\t\"precip\": 0.00,\n\t\"precipsource\": null,\n\t\"gdegreedays\": 0,\n\t\"heatingdegreedays\": 27,\n\t\"coolingdegreedays\": 0,\n\t\"heatingdegreedaysnormal\": 32,\n\t\"monthtodateheatingdegreedays\": 27,\n\t\"monthtodateheatingdegreedaysnormal\": 32,\n\t\"since1sepheatingdegreedays\": null,\n\t\"since1sepheatingdegreedaysnormal\": null,\n\t\"since1julheatingdegreedays\": 1049,\n\t\"since1julheatingdegreedaysnormal\": 1717,\n\t\"coolingdegreedaysnormal\": 0,\n\t\"monthtodatecoolingdegreedays\": 0,\n\t\"monthtodatecoolingdegreedaysnormal\": 0,\n\t\"since1sepcoolingdegreedays\": null,\n\t\"since1sepcoolingdegreedaysnormal\": null,\n\t\"since1jancoolingdegreedays\": 0,\n\t\"since1jancoolingdegreedaysnormal\": 0\n,\n\t\t\"avgoktas\": 5,\n\t\t\"icon\": \"partlysunny\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1451627460,\n\t\"iso8601\": \"2016-01-01T00:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 42.1,\n\t\"dewpoint\": 25.0,\n\t\"humidity\": 51,\n\t\"wind_speed\": 4.6,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 0,\n\t\"wind_dir\": \"Variable\",\n\t\"visibility\": 10.0,\n\t\"pressure\": 30.06,\n\t\"windchill\": 39.2,\n\t\"heatindex\": null,\n\t\"precip\": null,\n\t\"conditions\": \"Overcast\",\n\t\"icon\": \"cloudy\",\n\t\"fog\": 0,\n\t\"rain\": 0,\n\t\"snow\": 0,\n\t\"hail\": 0,\n\t\"thunder\": 0,\n\t\"tornado\": 0,\n\t\"metar\": \"METAR KNYC 010551Z AUTO VRB04KT 10SM OVC037 06/M04 A3008 RMK AO2 SLP179 T00561039 10072 20056 58011 $\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"date\": {\n\t\"epoch\": 1451631060,\n\t\"iso8601\": \"2016-01-01T01:51:00-0500\",\n\t\"tz_offset_hours\": -5.00\n},\n\t\t\"temperature\": 41.0,\n\t\"dewpoint\": 25.0,\n\t\"humidity\": 53,\n\t\"wind_speed\": 3.5,\n\t\"wind_gust_speed\": null,\n\t\"wind_dir_degrees\": 0,\n\t\"wind_dir\": \"Variable\",\n\t\"visibility\": 10.0,\n\t\"pressure\": 30.06,\n\t\"windchill\[...]
