{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/api/---WUNDERGROUND_KEY---/history_20160101/q/knyc.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.771"], "Last-Modified":["Wed, 20 Jan 2016 20:58:09 GMT"], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n  \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\": {\n\t\t\"pretty\": \"January 1, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"January 1, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"17\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\": [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:15 AM EST on January 01, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"15\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:15 AM GMT on January 01, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"15\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"tempm\":\"7.0\", \"tempi\":\"44.6\",\"dewptm\":\"-1.0\", \"dewpti\":\"30.2\",\"hum\":\"57\",\"wspdm\":\"0.0\", \"wspdi\":\"0.0\",\"wgustm\":\"-9999.0\", \"wgusti\":\"-9999.0\",\"wdird\":\"0\",\"wdire\":\"North\",\"vism\":\"16.1\", \"visi\":\"10.0\",\"pressurem\":\"1018.5\", \"pressurei\":\"30.08\",\"windchillm\":\"-999\", \"windchilli\":\"-999\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"-9999.00\", \"precipi\":\"-9999.00\",\"conds\":\"Overcast\",\"icon\":\"cloudy\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR KJRB 010515Z AUTO 00000KT 10SM OVC038 07/M01 A3008 RMK AO1\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:35 AM EST on January 01, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"00\",\n\t\t\"min\": \"35\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"5:35 AM GMT on January 01, 2016\",\n\t\t\"year\": \"2016\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"01\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"35\",[...]
