<main>
	<div class="container stripe-thanks">
		<h4 class="stylish-title">Thank You for Supporting Heat Seek NYC</h4>

		<article class="thanks">
			<p>From the entire Heat Seek Team, thank you for your donation.</p>

			<p>You should be receiving to confirm this donation at : <%#= @donor.email %> email
			</p>

			<p>For any questions or comments regarding this donation contact us <%#= link_to "Here:", contact_path %></p>

			<p>
				Click <%= link_to "here to return home", root_path %>
			</p>
		</article>


	</div>
</main>