<!-- Bottom three boxes -->
<div id="features" class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-4 feature featureOne"><a href="about#how-it-works">How It Works</a></div>
    <div class="col-sm-4 feature featureTwo"><a href="coldmap">See The Cold Map</a></div>
    <div class="col-sm-4 feature featureThree"><a href="demo">View Our Demo</a></div>
  </div>
</div>

<%= render partial: 'shared/mail_chimp' %>

<!-- Footer links -->
<div id="linkGroups" class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-4 linkGroup pressLinks">
      <h3><a href="press" class="footer-links">Press</a></h3>
      <div class="index-press article-top">
        <h4> <a href="http://www.nytimes.com/2014/11/09/nyregion/two-apps-focus-on-public-need-in-new-york.html?_r=0">Keep Warm and Carry On</a></h4>

        <h6><a href="http://www.nytimes.com/">New York Times</a></h6>

        <p>Heatseek NYC, the winner of the fifth annual NYC BigApps competition, which ended in mid-September, would allow tenants an easy way to record and report the temperature in their homes to ensure that landlords do not skimp on the heat...
        </p>

        <p><a href="http://www.nytimes.com/2014/11/09/nyregion/two-apps-focus-on-public-need-in-new-york.html?_r=0">read more</a></p>
      </div>

      <div class="index-press article-bottom">
        <h4><a href="http://www.gadgetreview.com/2014/08/heat-seek-nyc/">Heat Seek NYC Wants To Fix New York City’s Heating Crisis</a></h4>

        <h6> <a href="http://www.gadgetreview.com">Gadget Review</a> </h6>

        <p>What makes this thermometer so special is that it connects to the web to help NYC turn the heat on for thousands of tenants that will go with no heat in brutal Big Apple winters...</p>

        <p><a href="http://www.gadgetreview.com/2014/08/heat-seek-nyc/">read more</a></p>
      </div>
    </div> <!-- end .pressLinks -->

    <div class="col-sm-4 linkGroup sponsorLinks">
      <h3><a href="sponsors" class="footer-links">Sponsors</a></h3>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3"><a class="logo-buttons flatiron" href="http://flatironschool.com/"></a></div>
        <div class="col-xs-3"><a class="logo-buttons sparkfun" href="https://www.sparkfun.com/"></a></div>
        <div class="col-xs-3"><a class="logo-buttons mapbox" href="https://www.mapbox.com/"></a></div>
      </div>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3"><a class="logo-buttons pdm" href="http://personaldemocracy.com/"></a></div>
        <div class="col-xs-3"><a class="logo-buttons betanyc" href="http://betanyc.us/"></a></div>
        <div class="col-xs-3"><a class="logo-buttons bielecki" href="http://rdbf.org/"></a></div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <a class="logo-buttons microsoft" href="http://www.microsoft.com/"></a>
        </div>
      </div>
    </div> <!-- end .sponsorLinks -->

    <div class="col-sm-4 linkGroup socialLinks">
      <h3><a href="blog" class="footer-links">Follow Us</a></h3>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
          <a class="fa fa-5x fa-twitter twitter" href="https://twitter.com/heatseeknyc"></a>
        </div>
        <div class="col-xs-4">
          <a class="fa fa-5x fa-facebook facebook" href="https://www.facebook.com/heatseeknyc"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
          <a class="fa fa-5x fa-github github" href="https://github.com/heatseeknyc"></a>
        </div>
      </div>
    </div> <!-- end .socialLinks -->
  </div>
</div>
