<!-- Bottom three boxes -->
<div id="features" class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-4 feature featureOne"><a href="about#how-it-works">How It Works</a></div>
    <div class="col-sm-4 feature featureTwo"><a href="coldmap">See The Cold Map</a></div>
    <div class="col-sm-4 feature featureThree"><a href="demo">View Our Demo</a></div>
  </div>
</div>

<!-- Footer links -->
<div id="linkGroups" class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-4 linkGroup pressLinks">
      <h3>Press</h3>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4"><a class="logo-buttons nytm" href="http://nytm.org/events/meetup/may-6-2014-nytm"></a></div>
        <div class="col-xs-4"><a class="logo-buttons betabeat" href="http://betabeat.com/2014/06/slumlord-cyber-killers/"></a></div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><a class="logo-buttons medium" href="https://medium.com/@FlatironSchool/heat-seek-nyc-aims-to-keep-the-city-warm-with-code-d1da5d2a2641"></a></div>
      </div>
    </div>
    <div class="col-sm-4 linkGroup sponsorLinks">
      <h3>Sponsors</h3>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4"><a class="logo-buttons flatiron" href="http://flatironschool.com/"></a></div>
        <div class="col-xs-4"><a class="logo-buttons sparkfun" href="https://www.sparkfun.com/"></a></div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4"><a class="logo-buttons pdm" href="http://personaldemocracy.com/"></a></div>
        <div class="col-xs-4"><a class="logo-buttons betanyc" href="http://betanyc.us/"></a></div>
      </div>
    </div>
    <div class="col-sm-4 linkGroup socialLinks">
      <h3>Follow Us</h3>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4"><a class="fa fa-5x fa-twitter-square twitter" href="https://twitter.com/heatseeknyc"></a></div>
        <div class="col-xs-4"><a class="fa fa-5x fa-facebook-square facebook" href="https://www.facebook.com/heatseeknyc"></a></div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4"><a class="fa fa-5x fa-github-square github" href="https://github.com/heatseeknyc"></a></div>
      </div>
    </div>
  </div>
</div>
