<!-- Bottom three boxes -->
<div id="features" class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-4 feature featureOne"><a href="about">How It Works</a></div>
    <div class="col-sm-4 feature featureTwo"><a href="coldmap">See The Cold Map</a></div>
    <div class="col-sm-4 feature featureThree"><a href="demo">View Our Demo</a></div>
  </div>
</div>

<!-- Footer links -->
<div id="linkGroups" class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-4 linkGroup pressLinks">
      <h3>Press</h3>
  <div class="row">
    <div class="col-xs-4"><a href="https://medium.com/@FlatironSchool/heat-seek-nyc-aims-to-keep-the-city-warm-with-code-d1da5d2a2641">Medium</a></div>
    <div class="col-xs-4"><a href="http://betabeat.com/2014/06/slumlord-cyber-killers/">BetaBeat</a></div>
    <div class="col-xs-4"><a href="http://nytm.org/events/meetup/may-6-2014-nytm">New York Tech Meetup</a></div>
  </div>
<!--   <div class="row">
    <div class="col-xs-4"><a href="press">Press link 1</a></div>
    <div class="col-xs-4"><a href="press">Press link 2</a></div>
  </div> -->
    </div>
    <div class="col-sm-4 linkGroup sponsorLinks">
      <h3>Sponsors</h3>
      <div class="row">
        <div class="col-xs-4"><a href="http://flatironschool.com/">The Flatiron School</a></div>
        <div class="col-xs-4"><a href="http://personaldemocracy.com/">Personal Democracy Media</a></div>
      </div>
    </div>
    <div class="col-sm-4 linkGroup socialLinks">
      <h3>Follow Us</h3>
      <div class="row">
        <div class="col-xs-4"><a href="https://twitter.com/heatseeknyc">Twitter</a></div>
      </div>
    </div>
  </div>
</div>

<footer>&copy; Heat Seek NYC</footer>