<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
         <a class="brand" href="/">Heat Seek</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right darktheme">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="about">About Heat Seek</a></li>
<!--             <li><a href="team">Our Team</a></li>
            <li><a href="news">News</a></li>
            <li><a href="news">View Demo</a></li> -->
          </ul>
        </li>
        <li><a href="coldmap">Cold Map</a></li>
        <!-- <li class="signin"><a href="#signin">Sign in &rsaquo;</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>