<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      table {
        border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid #000;
      }
      th, td {
        padding: 5px 10px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
